<template>
    <wrapper :title="$i('ViewContact')"
             sapo="">
        <div class="dn-content-left category">
            <form action="#" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Contact') }}</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('FullName')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.fullName" :placehoder="$i('FullName')"
                                               disabled
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Email')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.email" :placehoder="$i('Email')" disabled
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Phone')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.phone" :placehoder="$i('Phone')" disabled
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Address')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.address" :placehoder="$i('Address')"
                                               disabled
                                               class="form-control"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Note') }}</h3>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <textarea rows="5" class="form-control" v-model="objData.node"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <router-link :to="{ path: '/contact' }" class="btn btn-danger">
                            <span>{{ $i('Back') }}</span>
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                objData: {
                    id: this.$route.params.id || 0,
                    fullName: '',
                    email: '',
                    phone: '',
                    address: '',
                    node: '',
                    is_read: -1,
                },
                objBanner: {
                    status: 1,
                }
            }
        },
        computed: {
            ...mapGetters(['listContact']),
        },
        watch: {},
        methods: {
            ...mapActions(['getDetailContact', 'readContact']),
            getDetailContactCms() {
                if (this.$route.params.id > 0) {
                    this.objData.id = this.$route.params.id;
                    this.getDetailContact(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            readContactCms() {
                this.objData.is_read = 1;
                this.readContact(this.objData).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.getDetailContactCms();
            this.readContactCms();
        }
    }
</script>
