<template>
    <wrapper :title="$i('ContactList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.fullName" :placeholder="$i('Keyword')"
                           class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.is_read">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Read')}}</option>
                        <option :value="0">{{$i('UnRead')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('FullName')}}</th>
                        <th>{{$i('Email')}}</th>
                        <th>{{$i('Phone')}}</th>
                        <th>{{$i('Address')}}</th>
                    </tr>
                    </thead>
                    <tbody  v-for="(contact, index) in listContact" class="post-item-group">
                    <tr v-if="contact.is_read == 0" style="background: #dcdcdc;">
                        <td>{{ index+1 + rowNum }}</td>
                        <td>
                            <router-link :to="{path: '/contact/edit/'+contact.id}" style="color: #0f74a8;">
                                {{ contact.fullName }}
                            </router-link>
                        </td>
                        <th>{{ contact.email }}</th>
                        <th>{{ contact.phone }}</th>
                        <th>{{ contact.address }}</th>
                    </tr>
                    <tr v-else>
                        <td>{{ index+1 + rowNum }}</td>
                        <td>
                            <router-link :to="{path: '/contact/edit/'+contact.id}" style="color: #0f74a8;">
                                {{ contact.fullName }}
                            </router-link>
                        </td>
                        <th>{{ contact.email }}</th>
                        <th>{{ contact.phone }}</th>
                        <th>{{ contact.address }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="contactCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        components: {},
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    fullName: '',
                    email: '',
                    phone: '',
                    address: '',
                    node: '',
                    is_read: -1,
                    pageIndex: 1,
                    pageSize: 10,
                },
            }
        },
        computed: {
            ...mapGetters(['listContact', 'contactCount']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListContact', 'saveContact', 'deleteContact']),
            searchData() {
                let loading = this.$loading.show();
                this.getListContact(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
        },
        created() {
            this.searchData();
        }
    };
</script>
