<template>
    <div>
        <div class="form-group">
            <label class="tit">Username</label>
            <input class="form-control" type="text" v-model="objUser.name" required="" v-if="this.userId > 0" disabled ref="name"/>
            <input class="form-control" type="text" v-model="objUser.name" required="" v-else ref="name"/>
        </div>
        <div class="form-group">
            <label class="tit">Email</label>
            <input class="form-control" type="email" v-model="objUser.email" ref="email"/>
        </div>
        <div class="form-group">
            <label class="tit" v-if="this.userId > 0">New Password</label>
            <label class="tit" v-else>Password</label>
            <input class="form-control" type="password" v-model="objUser.password"
                   ref="password"/>
        </div>
        <div class="form-group">
            <label class="tit">Role</label>
            <select class="form-control" v-model="objUser.role" ref="role">
                <option value="">--Role--</option>
                <option v-for="item in listRole.data.role"
                        :value="item.name">{{item.name}}
                </option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" secondary @click="saveUserCms()">
                Save
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        props: ['userId'],
        data() {
            return {
                objUser: {
                    id: 0,
                    name: '',
                    email: '',
                    password: '',
                    role: ''
                }
            }
        },
        computed: {
            ...mapGetters(['listRole']),
        },
        watch: {},
        methods: {
            ...mapActions(['getListRole','getDetailUser', 'saveUser']),
            getRoles() {
                this.getListRole().then(() => {
                }).catch(error => {
                    return this.$message(error.message,'error');
                });
            },
            detailUser(){
                this.objUser.id = this.userId;
                this.getDetailUser(this.objUser).then((response) => {
                    if(response.success){
                        this.objUser = response.data;
                        this.objUser.role = response.data.role_user.roles.name;
                    }
                }).catch(error => {
                    return this.$message(error.message,'error');
                })
            },
            saveUserCms() {
                console.log(this.objUser);
                if (!this.objUser.name) {
                    this.$refs.name.focus();
                    return this.$message(this.$i('UsernameNotEmpty'), 'error');
                }
                if (!this.objUser.email) {
                    this.$refs.email.focus();
                    return this.$message(this.$i('EmailNotEmpty'), 'error');
                }
                if(this.userId == 0){
                    if (!this.objUser.password) {
                        this.$refs.password.focus();
                        return this.$message(this.$i('PassWordNotEmpty'), 'error');
                    }
                }
                if (!this.objUser.role) {
                    this.$refs.role.focus();
                    return this.$message(this.$i('RoleNotEmpty'), 'error');
                }
                this.saveUser(this.objUser).then((response) => {
                    if(response.success){
                        if(this.userId > 0){
                            this.$message(this.$i('EditSuccess'), 'success');
                        }else{
                            this.$message(this.$i('AddSuccess'), 'success');
                        }
                        this.$emit('closePopup');
                    }
                }).catch(error => {
                    this.$message(error.message, 'error');
                })
            },
        },
        created(){
            this.getRoles();
            if(this.userId > 0){
                this.detailUser();
            }
        }
    }
</script>

