<template>
    <div v-if="detailQuickQuote">
        <wrapper :title="$i('QuickQuoteDetail')" :sapo="detailQuickQuote.status == 1 ? 'Active' : 'DeActive'">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{$i('FullName')}}</label>
                        <input class="form-control" type="text" v-model="detailQuickQuote.contact_fullName" readonly>
                    </div>
                    <div class="form-group">
                        <label>{{$i('Email')}}</label>
                        <input class="form-control" type="text" v-model="detailQuickQuote.contact_email" readonly>
                    </div>
                    <div class="form-group">
                        <label>{{$i('Phone')}}</label>
                        <input class="form-control" type="text" v-model="detailQuickQuote.contact_phone" readonly>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>{{$i('Address')}}</label>
                        <input class="form-control" type="text" v-model="detailQuickQuote.contact_address" readonly>
                    </div>
                    <div class="form-group">
                        <label>{{$i('Note')}}</label>
                        <textarea class="form-control" readonly rows="6">{{detailQuickQuote.contact_node}}</textarea>
                    </div>
                </div>
            </div>
        </wrapper>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{$i('Depart')}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{$i('ExpectedDepartureDate')}}</label>
                            <input class="form-control" type="text" :value="detailQuickQuote.expected_departure_date"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label>{{$i('ExpectedNumberOfDays')}}</label>
                            <input class="form-control" type="text" v-model="detailQuickQuote.expected_number_of_days"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label>{{$i('DepartureFromId')}}</label>
                            <input class="form-control" type="text" v-model="detailQuickQuote.departure_from_id"
                                   readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{$i('NumberOfParticipants')}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{$i('NumberOfAdults')}}</label>
                            <input class="form-control" type="text" v-model="detailQuickQuote.number_of_adults"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label>{{$i('NumberOfChildren')}}</label>
                            <input class="form-control" type="text" v-model="detailQuickQuote.number_of_children"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label>{{$i('NumberOfBabies')}}</label>
                            <input class="form-control" type="text" v-model="detailQuickQuote.number_of_babies"
                                   readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{$i('SelectionCriteria')}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{$i('Province')}}</label>
                            <span v-for="item in detailQuickQuote.provinces" :key="item.id"
                                  class="badge badge-pill badge-success ml-1">
                                {{ item.title }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label>{{$i('FamousPlaces')}}</label>
                            <span v-for="item in detailQuickQuote.places" :key="item.id"
                                  class="badge badge-pill badge-primary ml-1">
                                {{ item.title }}
                            </span>
                        </div>
                        <div class="form-group" style="font-size: 14px;">
                            <label>{{$i('Requests')}}</label>
                            <span v-for="item in detailQuickQuote.requests" :key="item.id"
                                  class="badge badge-pill badge-danger ml-1">
                                {{ item.title }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{$i('Special')}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{$i('SpecialRequirements')}}</label>
                            <textarea class="form-control" rows="5" v-model="detailQuickQuote.special_requirements"
                                      readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-warning" @click="$router.push('/quickQuote')">
                        {{$i('Back')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                idQuickQuote: 0,
            }
        },
        computed: {
            ...mapGetters(['detailQuickQuote']),
        },
        methods: {
            ...mapActions(['getDetailQuickQuote']),
            getDetail() {
                let loading = this.$loading.show();
                this.getDetailQuickQuote({id: this.idQuickQuote})
                    .then(() => {

                    })
                    .catch(err => {
                        this.$error(err.message);
                    })
                    .finally(() => {
                        loading.hide();
                    })
            }
        },
        created() {
            this.idQuickQuote = this.$route.params.id;
            this.getDetail();
        }
    }
</script>

<style scoped>
    .form-group .badge {
        font-size: 14px;
    }
</style>
