<template>
    <wrapper :title="$i('QuickQuoteList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.keyword" :placeholder="$i('Keyword')" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')" />
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('Name')}}</th>
                        <th>{{$i('Phone')}}</th>
                        <th>{{$i('ExpectedDepartureDate')}}</th>
                        <th>{{$i('ExpectedNumberOfDays')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in listQuickQuote" class="post-item-group">
                        <td>{{ k + 1 + rowNum }}</td>
                        <td>{{ v.contact_fullName }}</td>
                        <td>{{ v.contact_phone }}</td>
                        <td>{{ v.expected_departure_date }}</td>
                        <td>{{ v.expected_number_of_days }}</td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="v.status == 1"
                                    v-on:click="changeStatusQuickQuote(v, k)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary" v-on:click="changeStatusQuickQuote(v, k)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                            <button class="btn btn-success" @click="detailQuickQuote(v, k)">
                                <i class="mdi mdi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="quickQuoteCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize" @change="pageChange" />
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    export default {
        data(){
            return {
                objDataSearch: {
                    id: -1,
                    keyword: '',
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    title: '',
                    status: -1,
                },
                titleModal: '',
            }
        },
        computed: {
            ...mapGetters(['listQuickQuote','quickQuoteCount']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListQuickQuote', 'deleteQuickQuote']),
            searchData() {
                let loading = this.$loading.show();
                this.getListQuickQuote(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatusQuickQuote(objUpdate, index){
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteQuickQuote(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            detailQuickQuote(v, k) {
                return this.$router.push('/quickQuote/detail/' + v.id);
            },
        },
        created() {
            this.searchData();
        }
    };
</script>
