<template>
    <wrapper :title="$i('ExtensionList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.title" :placeholder="$i('Keyword')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.code" :placeholder="$i('Code')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('Title')}}</th>
                        <th>{{$i('Code')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody v-for="(extension, index) in listExtension" class="post-item-group">
                    <tr>
                        <td>{{ index+1 }}</td>
                        <td>
                            {{ extension.title }}
                        </td>
                        <td>{{ jsUcfirst(extension.code) }}</td>
                        <td class="btn-action">
                            <button :title="$i('Uninstall')" class="btn btn-danger float-right"
                                    style="margin-left: 10px;"
                                    v-if="extension.status == 1"
                                    v-on:click="changeStatusExtension(extension, index)">
                                <i class="mdi mdi-minus-circle-outline"></i>
                            </button>
                            <button :title="$i('Install')" class="btn btn-primary float-right"
                                    style="margin-left: 10px;"
                                    v-on:click="changeStatusExtension(extension, index)"
                                    v-else>
                                <i class="mdi mdi-plus"></i>
                            </button>
                            <router-link :to="{path: '/extension/module/'+extension.code }"
                                         class="btn btn-primary float-right" :title="$i('AddModule')"
                                         v-if="extension.status == 1">
                                <i class="mdi mdi-plus"></i>
                            </router-link>
                        </td>
                    </tr>
                    <tr v-for="(module, index) in extension.module" class="post-item-group"
                        v-if="extension.status == 1">
                        <td></td>
                        <td><i class="mdi mdi-chevron-double-right"></i> {{ module.name }}</td>
                        <td>{{ jsUcfirst(module.code) }}</td>
                        <td class="btn-action">
                            <button :title="$i('Remove')" class="btn btn-danger float-right" style="margin-left: 10px;"
                                    v-if="module.status == 1"
                                    v-on:click="changeStatusModule(module)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button :title="$i('Publish')" class="btn btn-primary float-right"
                                    style="margin-left: 10px;"
                                    v-on:click="changeStatusModule(module)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                            <router-link :to="{path: '/extension/module/'+extension.code+'/'+module.id }"
                                         :title="$i('EditModule')"
                                         class="btn btn-info float-right"
                                         v-if="module.status == 1">
                                <i class="mdi mdi-pencil-box"></i>
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        components: {},
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    title: '',
                    code: '',
                    status: -1,
                },
                objDataModule: {
                    id: -1,
                    status: -1,
                },
                popupEditExtension: false,
            }
        },
        computed: {
            ...mapGetters(['listExtension']),
        },
        methods: {
            ...mapActions(['getListExtension', 'deleteExtension', 'deleteModule']),
            searchData() {
                let loading = this.$loading.show();
                this.getListExtension(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            changeStatusExtension(extension, index) {
                let confirm = (extension.status == 1) ? 'DoYouWantToUninstall' : 'DoYouWantToInstall';
                let status = (extension.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataSearch = extension;
                    this.objDataSearch.status = status;
                    this.deleteExtension(this.objDataSearch).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.listExtension[index].status = status;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            changeStatusModule(module) {
                let confirm = (module.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (module.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataModule = module;
                    this.objDataModule.status = status;
                    this.deleteModule(this.objDataModule).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            jsUcfirst(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        },
        created() {
            this.searchData();
        }
    };
</script>
