<template>
    <wrapper :title="$i('LanguageList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.name" :placeholder="$i('Keyword')"
                           class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                    <input class="btn btn-primary" type="button" @click="openPopup('')" :value="$i('Add')"/>
                </div>
            </div>
            <div class="common-table tbl-fix-600">
                <table class="table table-striped">
                    <thead slot="header">
                    <tr>
                        <th class="width-100">{{$i("Stt")}}</th>
                        <th class="width-150">{{$i("CodeLanguage")}}</th>
                        <th>{{$i("Title")}}</th>
                        <th class="width-150">{{$i("Position")}}</th>
                        <th class="width-150">{{$i("Status")}}</th>
                        <th class="text-center width-250">{{$i("Action")}}</th>
                    </tr>
                    </thead>
                    <tbody v-if="languages">
                    <tr v-for="(item, index) in languages" :key="item.code">
                        <td>{{ index+1 + rowNum }}</td>
                        <td>{{item.code}}</td>
                        <td><a href="javascript:;" @click="openPopup(item.code)" style="color: #0f74a8;">{{item.name}}</a></td>
                        <td>{{item.priority}}</td>
                        <td>
                            <span class="badge badge-primary" v-if="item.status==1">{{$i("Show")}}</span>
                            <span class="badge badge-danger" v-else>{{$i("Hide")}}</span>
                        </td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="item.status == 1"
                                    v-on:click="changeStatusLanguage(item)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary" v-on:click="changeStatusLanguage(item)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="languageCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
        <modal v-if="popupEditLanguage" :title="$i(this.titleModal)" @close="popupEditLanguage = false">
            <div slot="body">
                <editLanguage :languageCode="this.objDataUpdate.code" v-on:closePopup="closePopup()"></editLanguage>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editLanguage from './edit';
    export default {
        components: { 'editLanguage': editLanguage,},
        data() {
            return {
                objDataSearch: {
                    name: '',
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    code: '',
                    name: '',
                    priority: 1,
                    viName: '',
                    status: -1,
                },
                titleModal: '',
                popupEditLanguage: false,
            }
        },
        computed: {
            ...mapGetters(['languages', 'allLanguages', 'languageCount']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListLanguages','deleteLanguage']),
            searchData() {
                let loading = this.$loading.show();
                this.getListLanguages(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            openPopup(code){
                if( code != '' ){
                    this.titleModal = 'TitleEditLanguage';
                }else{
                    this.titleModal = 'TitleAddLanguage';
                }
                this.popupEditLanguage = true;
                this.objDataUpdate.code = code || '';
            },
            closePopup() {
                this.popupEditLanguage = false;
                this.searchData();
            },
            changeStatusLanguage(item){
                let confirm = (item.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (item.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = item;
                    this.objDataUpdate.status = status;
                    this.deleteLanguage(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                })
            }
        },
        created() {
            this.searchData();
        }
    };
</script>
