<template>
    <wrapper :title="(this.$route.params.id > 0) ? $i('EditProduct') : $i('AddProduct')"
             sapo="">
        <div class="dn-content-left product">
            <form action="#" @submit.prevent="saveProductCms" class="form-horizontal">
                <ul class="nav nav-tabs nav-tabs-custom">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"
                           v-bind:class="{ active: activeTab === `general` }"
                           v-on:click="activateTabProduct(`general`)">
                            <span class="d-none d-sm-block">General</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" v-bind:class="{ active: activeTab === `link` }"
                           v-on:click="activateTabProduct(`link`)">
                            <span class="d-none d-sm-block">Link</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"
                           v-bind:class="{ active: activeTab === `attribute` }"
                           v-on:click="activateTabProduct(`attribute`)">
                            <span class="d-none d-sm-block">Attribute</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" v-bind:class="{ active: activeTab === `image` }"
                           v-on:click="activateTabProduct(`image`)">
                            <span class="d-none d-sm-block">Image</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane p-3" v-bind:class="{ active: activeTab === `general` }">
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <div class="row mt-3">
                                            <div class="col-lg-7">
                                                <photo-drag-drop :src="objData.product.image" v-on:change="changeImage"
                                                                 :height="`450px`" :showDelete="true"></photo-drag-drop>
                                            </div>
                                            <div class="col-lg-5">

                                                <div class="row mt-1">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Code')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input v-model="objData.product.code" type="text"
                                                               :placehoder="$i('Code')"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('DepartTime')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <datetimepicker :value="objData.product.departTime"
                                                                                v-model="objData.product.departTime"></datetimepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('SeatsExist')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input v-model="objData.product.seatsExist" type="text"
                                                                       :placehoder="$i('SeatsExist')"
                                                                       class="form-control"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('Price')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input v-model="objData.product.price" type="text"
                                                                       :placehoder="$i('Price')"
                                                                       class="form-control"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('Viewed')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input type="number" v-model="objData.product.viewed"
                                                                       :placehoder="$i('Viewed')"
                                                                       class="form-control"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('Status')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <select class="form-control"
                                                                        v-model="objData.product.status">
                                                                    <option value="1">{{ $i('Active') }}</option>
                                                                    <option value="0">{{ $i('DeActived') }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h3 class="mt-0 header-title">{{ $i('Description') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActive(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndex === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndex === index}" :key="index">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Title')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="item.title"
                                                               :placehoder="$i('Title')" ref="product_title"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('DayNumber')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input v-model="item.dayNumber" type="text"
                                                                       :placehoder="$i('DayNumber')"
                                                                       class="form-control"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="tit">{{$i('DepartAddress')}}</label>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input v-model="item.departAddress"
                                                                       type="text"
                                                                       :placehoder="$i('DepartAddress')"
                                                                       class="form-control"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Description')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`description`"
                                                                  :index="index" :obj="`descriptions`"
                                                                  :value="item.description" :height="250"></tiny-mce>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('ProductContent')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`content`"
                                                                  :index="index" :obj="`descriptions`"
                                                                  :value="item.content" :height="450"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h3 class="mt-0 header-title">{{ $i('Seo') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActiveSeo(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndexSeo === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndexSeo === index}" :key="index">
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('MetaTitle')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="item.meta_title"
                                                               :placehoder="$i('MetaTitle')"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('MetaDescription')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`meta_description`"
                                                                  :index="index" :obj="`descriptions`"
                                                                  :value="item.meta_description"
                                                                  :height="450"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-3" v-bind:class="{ active: activeTab === `link` }">
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <div class="row mt-3 product-day">
                                            <div class="col-lg-12">
                                                <h3 class="mt-0 header-title">{{ $i('ProductDay') }}</h3>
                                                <ul class="nav nav-tabs tab-day nav-tabs-custom">
                                                    <li class="nav-item"
                                                        v-for="(item, index) in objData.days"
                                                        :key="index"
                                                        @click="setActiveDayL1(index)">
                                                        <a class="nav-link"
                                                           :class="{ 'active': activeIndexDayL1 === index}">
                                                            <select class="form-control" v-model="item.day_id"
                                                                    style="width: 90px;">
                                                                <option value="0">{{ $i('Select') }}</option>
                                                                <option v-for="day in listDay"
                                                                        :value="day.id">
                                                                    {{ day.title }}
                                                                </option>
                                                            </select>
                                                        </a>
                                                        <span class="removeDay"
                                                              v-on:click="removeProductDay(index)"><i
                                                            class="mdi mdi-close-circle"></i> </span>
                                                    </li>
                                                    <li style="padding-left: 20px;">
                                                        <button type="button" v-on:click="addProductDay"
                                                                title="Add Day"
                                                                class="btn btn-primary">
                                                            <i class="fa fa-plus-circle"></i></button>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane" style="padding:3rem 0 3rem 0;"
                                                         v-for="(day, i) in objData.days"
                                                         :class="{ 'active': activeIndexDayL1 === i}" :key="i">
                                                        <ul class="nav nav-tabs">
                                                            <li class="nav-item"
                                                                v-for="(lang, k) in activeLanguages"
                                                                :key="k"
                                                                @click="setActiveDayL2(k)">
                                                                <a class="nav-link"
                                                                   :class="{ 'active': activeIndexDayL2 === k}">
                                                                    <span
                                                                        class="d-none d-sm-block">{{ lang.name }}</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane p-0"
                                                                 v-for="(item, j) in day.product_day"
                                                                 :class="{ 'active': activeIndexDayL2 === j}"
                                                                 :key="j">
                                                                <div class="row mt-3">
                                                                    <div class="col-lg-12">
                                                                        <tiny-mce v-on:change="bindDataDay"
                                                                                  :field="`content`"
                                                                                  :obj="`product_day`"
                                                                                  :index="i" :index1="j"
                                                                                  :value="item.content"
                                                                                  :height="400"></tiny-mce>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 product-category">
                            <div class="col-lg-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h3 class="mt-0 header-title">{{ $i('Category') }}</h3>
                                        <div class="row mt-3">
                                            <div class="col-lg-12" v-click-outside="closeSelection">
                                                <input type="text" class="form-control" v-model="keywordCategory"
                                                       v-on:click="searchCategoryCms"
                                                       v-on:keyup="searchCategoryCms"></input>
                                                <multiple-select :selection="objData.product_category"
                                                                 v-on:change="bindDataCate" :opened.asyn="openCate"
                                                                 :suggestions.asyn="suggestionsCate"
                                                                 :keyword="keywordCategory" v-if="loader"></multiple-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h3 class="mt-0 header-title">{{ $i('ProductRelate') }}</h3>
                                        <div class="row mt-3">
                                            <div class="col-lg-12" v-click-outside="closeSelection">
                                                <input type="text" class="form-control" v-model="keywordRelated"
                                                       v-on:click="searchRelatedCms"
                                                       v-on:keyup="searchRelatedCms"></input>
                                                <multiple-select :selection="objData.product_related"
                                                                 v-on:change="bindDataRelated"
                                                                 :opened.asyn="openRelated"
                                                                 :suggestions.asyn="suggestionsRelated"
                                                                 :keyword="keywordRelated" v-if="loader"></multiple-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-3" v-bind:class="{ active: activeTab === `attribute` }">
                        <div class="row mt-3 product-attribute">
                            <div class="col-lg-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="width-200">{{$i('Attribute')}}</th>
                                                <th>{{$i('Content')}}</th>
                                                <th class="text-center width-150">{{$i('Action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item, i) in objData.product_att" v-bind:key="i"
                                                class="post-item-group">
                                                <td class="width-150">
                                                    <select class="form-control" v-model="item.attribute_id">
                                                        <option value="0">{{ $i('Select') }}</option>
                                                        <option v-for="attribute in listAttribute"
                                                                :value="attribute.id">
                                                            {{ attribute.title }}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div v-for="(value, k) in item.product_attribute"
                                                         style="margin-bottom: 20px;">
                                                        <photo :src="value.flagIcon"
                                                               :style="`width: 30px;height: 20px;float: left;margin: 80px 10px 10px;border: 1px solid #ececec;`"></photo>
                                                        <tiny-mce v-on:change="bindDataAttribute" :field="`content`"
                                                                  :obj="`product_attribute`"
                                                                  :index="i" :index1="k" :value="value.content"
                                                                  v-model="value.content"
                                                                  :height="200"></tiny-mce>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="float-right">
                                                        <button type="button" v-on:click="removeProductAttribute(i)"
                                                                class="btn btn-danger">
                                                            <i class="mdi mdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td class="text-right">
                                                    <button type="button" v-on:click="addProductAttribute"
                                                            title="Add Attribute"
                                                            class="btn btn-primary">
                                                        <i class="fa fa-plus-circle"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-3" v-bind:class="{ active: activeTab === `image` }">
                        <div class="row mt-3 product-image">
                            <div class="col-lg-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="width-150">{{$i('Image')}}</th>
                                                <th>{{$i('Position')}}</th>
                                                <th class="text-center width-150">{{$i('Action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item, index) in objData.product_image" v-bind:key="index"
                                                class="post-item-group">
                                                <td>
                                                    <photo-drag-drop :src="item.image" v-on:change="changeProductImage"
                                                                     :index="index"
                                                                     :height="`120px`"></photo-drag-drop>
                                                </td>
                                                <td>
                                                    <input v-model="item.position" class="form-control"
                                                           :placeholder="$i('Position')"/>
                                                </td>
                                                <td>
                                                    <div class="float-right">
                                                        <button type="button"
                                                                v-on:click="removeProductImage(item, index)"
                                                                class="btn btn-danger">
                                                            <i class="mdi mdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td class="text-right">
                                                    <button type="button" v-on:click="addProductImage" title="Add Image"
                                                            class="btn btn-primary">
                                                        <i class="fa fa-plus-circle"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" style="width: 80px;margin-right: 30px;">
                        <span>{{ $i('Save') }}</span>
                    </button>
                    <router-link :to="{ path: '/product' }" class="btn btn-danger">
                        <span>{{ $i('Cancel') }}</span>
                    </router-link>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';
    import MultipleSelect from '../_common/multiple-select';

    export default {
        data() {
            return {
                objData: {
                    product: {
                        id: this.$route.params.id ? this.$route.params.id : 0,
                        code: '',
                        departTime: '',
                        seatsExist: '',
                        price: '',
                        image: '' || 'assets/file-upload.jpg',
                        viewed: 1,
                        status: 1
                    },
                    descriptions: [],
                    days: [],
                    product_att: [],
                    product_image: [],
                    product_related: [],
                    product_category: [],
                },
                objCategory: {title: '', status: 1, pageIndex: 1, pageSize: 10},
                objProduct: {title: '', status: 1, pageIndex: 1, pageSize: 10},

                openCate: false,
                keywordCategory: '',
                suggestionsCate: [],

                openRelated: false,
                keywordRelated: '',
                suggestionsRelated: [],

                activeIndex: 0,
                activeIndexSeo: 0,
                activeIndexDayL1: 0,
                activeIndexDayL2: 0,
                activeTab: '',
                loader: false,

                blockRemovalImage: true,
                blockRemovalDay: true,
                blockRemovalAttribute: true,
            }
        },
        watch: {
            'objData.product_image'() {
                this.blockRemovalImage = this.objData.product_image.length < 1;
            },
            'objData.days'() {
                this.blockRemovalDay = this.objData.days.length <= 1;
            },
            'objData.product_att'() {
                this.blockRemovalAttribute = this.objData.product_att.length < 1;
            },
        },
        components: {
            'photo-drag-drop': PhotoDragDrop,
            'multiple-select': MultipleSelect
        },
        computed: {
            ...mapGetters(['listAttribute', 'activeLanguages', 'listDay']),
        },
        methods: {
            ...mapActions(['getListProduct', 'getListAttribute', 'getListDay', 'getListCategory', 'getDetailProduct', 'saveProduct', 'getActiveLanguages']),
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getDetailProductCms();
                    this.addProductDay();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getDetailProductCms() {
                if (this.$route.params.id > 0) {
                    this.objData.product.id = this.$route.params.id;
                    this.getDetailProduct(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.descriptions = this.getLanguageDescriptions().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            let days = [];
                            this.getLanguageProductDays().map(i => {
                                response.data.days.filter(j => {
                                    return days.push({
                                        day_id: j.day_id,
                                        product_day: i.product_day.map(k => {
                                            return j.product_day.filter(h => {
                                                if (h.languageCode == k.languageCode) {
                                                    return h;
                                                }
                                            })[0] || k;
                                        }),
                                    });
                                });
                            });
                            this.objData.days = days;
                            let product_att = [];
                            this.getLanguageProductAttributes().map(i => {
                                response.data.product_att.filter(j => {
                                    return product_att.push({
                                        attribute_id: j.attribute_id,
                                        product_attribute: i.product_attribute.map(k => {
                                            return j.product_attribute.filter(h => {
                                                if (h.languageCode == k.languageCode) {
                                                    h['flagIcon'] = k['flagIcon'];
                                                    return h;
                                                }
                                            })[0] || k;
                                        }),
                                    });
                                });
                            });
                            this.objData.product_att = product_att;
                            this.loader = true;
                        }
                    }).catch(error => {
                        return this.$message(error.message, 'error');
                    })
                } else {
                    this.objData.descriptions = this.getLanguageDescriptions();
                    this.objData.days = this.getLanguageProductDays();
                    this.objData.product_att = this.getLanguageProductAttributes();
                    this.loader = true;
                }
            },
            getLanguageDescriptions() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        dayNumber: '',
                        departAddress: '',
                        title: '',
                        description: '',
                        content: '',
                        meta_title: '',
                        meta_description: '',
                    }
                })
            },
            getLanguageProductDays() {
                let product_day = [];
                let days = [];
                product_day = this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        content: '',
                    }
                });
                days.push({
                    day_id: 0,
                    product_day: product_day,
                });
                return days;
            },
            getLanguageProductAttributes() {
                let product_attribute = [];
                let product_att = [];
                product_attribute = this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        content: '',
                        flagIcon: i.flagIcon,
                    }
                });
                product_att.push({
                    attribute_id: 0,
                    product_attribute: product_attribute,
                });
                return product_att;
            },
            getListDayCms() {
                this.getListDay().then((response) => {
                }).catch(error => {
                    return this.$message(error.message, 'error');
                })
            },
            addProductDay() {
                let checkEmptyTabDays = this.objData.days.filter(item => item.day_id === 0);
                if (checkEmptyTabDays.length >= 1 && this.objData.days.length > 0) return;
                let product_day = [];
                product_day = this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        content: '',
                    }
                });
                this.objData.days.push({
                    day_id: 0,
                    product_day: product_day
                });
                this.setActiveDayL1(this.objData.days.length - 1);
            },
            removeProductDay(dayId) {
                this.$confirm(this.$i('DoYouWantToDelete')).then(() => {
                    if (!this.blockRemovalDay) {
                        this.objData.days.splice(dayId, 1)
                        this.setActiveDayL1(this.objData.days.length - 1);
                    }
                });
            },
            getListAttributeCms() {
                this.getListAttribute().then((response) => {
                }).catch(error => {
                    return this.$message(error.message, 'error');
                })
            },
            addProductAttribute() {
                let checkEmptyAtt = this.objData.product_att.filter(item => item.attribute_id == 0);
                if (checkEmptyAtt.length >= 1 && this.objData.product_att.length > 0) return;
                let product_attribute = [];
                product_attribute = this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        content: '',
                        flagIcon: i.flagIcon,
                    }
                });
                this.objData.product_att.push({
                    attribute_id: 0,
                    product_attribute: product_attribute
                });
            },
            removeProductAttribute(attributeId) {
                this.$confirm(this.$i('DoYouWantToDelete')).then(() => {
                    if (!this.blockRemovalAttribute) {
                        this.objData.product_att.splice(attributeId, 1)
                    }
                });
            },
            searchCategoryCms() {
                this.objCategory.title = this.keywordCategory;
                this.getListCategory(this.objCategory).then((response) => {
                    if (response.success) {
                        this.suggestionsCate = response.data;
                        this.openCate = true;
                    }
                }).catch(error => {
                })
            },
            bindDataCate(selections, opened) {
                this.objData.product_category = selections;
                this.openCate = opened;
            },
            searchRelatedCms() {
                this.objProduct.title = this.keywordRelated;
                this.getListProduct(this.objProduct).then((response) => {
                    if (response.success) {
                        this.suggestionsRelated = response.data;
                        this.openRelated = true;
                    }
                }).catch(error => {
                })
            },
            bindDataRelated(selections, opened) {
                this.objData.product_related = selections;
                this.openRelated = opened;
            },
            saveProductCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                let loading = this.$loading.show();
                this.saveProduct(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        setTimeout(() => {
                            this.$router.push('/product');
                        }, 1000)
                    }
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            addProductImage() {
                let checkEmptyImage = this.objData.product_image.filter(item => item.image === 'assets/file-upload.jpg');
                if (checkEmptyImage.length >= 1 && this.objData.product_image.length > 0) return;
                this.objData.product_image.push({
                    product_id: 0,
                    image: 'assets/file-upload.jpg',
                    position: '',
                })
            },
            removeProductImage(obj, imageId) {
                this.$confirm(this.$i('DoYouWantToDelete')).then(() => {
                    if (!this.blockRemovalImage) {
                        this.objData.product_image.splice(imageId, 1);
                        this.$http({
                            data: {
                                url: 'api/images/delete',
                                ...obj
                            }
                        }).then((response) => {
                            if (response.success) {
                            } else {
                            }
                        }).catch(error => {
                        });
                    }
                });
            },
            changeProductImage(src, index) {
                this.objData.product_image[index].image = src;
            },
            changeImage(src) {
                this.objData.product.image = src;
            },
            bindData(contents, field, obj, index) {
                if (obj != '' && index === null) {
                    this.objData[obj][field] = contents;
                } else if (obj != '' && index !== null) {
                    this.objData[obj][index][field] = contents;
                } else {
                    this.objData[field] = contents;
                }
            },
            bindDataDay(contents, field, obj, index, index1) {
                this.objData.days[index][obj][index1][field] = contents;
            },
            bindDataAttribute(contents, field, obj, index, index1) {
                this.objData.product_att[index][obj][index1][field] = contents;
            },
            setActive(index) {
                this.activeIndex = index;
            },
            setActiveSeo(index) {
                this.activeIndexSeo = index;
            },
            setActiveDayL1(index) {
                this.activeIndexDayL1 = index;
            },
            setActiveDayL2(index) {
                this.activeIndexDayL2 = index;
            },
            activateTabProduct(val) {
                this.activeTab = val;
            },
            closeSelection: function () {
                this.openCate = false;
                this.openRelated = false;
            },
        },
        created() {
            this.activateTabProduct(`general`);
            this.getListAttributeCms();
            this.getListDayCms();
            this.getActiveLanguagesCms();
        }
    }
</script>
<style>
    .product .nav-tabs.tab-day .nav-item {
        min-width: 190px;
        margin: 0 20px 0 0;
    }

    .product .nav-tabs.tab-day .nav-item select {
        width: 90px;
        height: 30px;
    }

    .product .nav-tabs.tab-day .nav-item a.active select, .product .nav-tabs.tab-day .nav-item a:hover select {
        width: 90px;
    }

    .product .product-day .nav-tabs.tab-day a {
        padding: 0px 40px 0px 0px;
        height: 40px;
    }
</style>
