<template>
    <wrapper :title="$i('ProductList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.code" :placeholder="$i('Code')" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.title" :placeholder="$i('Keyword')" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.languageCode">
                        <option value="">{{$i('SelectLanguage')}}</option>
                        <option v-for="item in activeLanguages" :value="item.code">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')" />
                    <router-link :to="{path: '/product/add'}" class="btn btn-primary">{{ $i('Add') }}</router-link>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th class="width-200">{{$i('Image')}}</th>
                        <th>{{$i('Title')}}</th>
                        <th>{{$i('Code')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product, index) in listProduct" class="post-item-group">
                        <td>{{ index+1 + rowNum }}</td>
                        <td><photo :src="product.image"></photo></td>
                        <td><router-link :to="{path: '/product/edit/'+product.id }" style="color: #0f74a8;">{{ product.title }}</router-link></td>
                        <td>{{ product.code }}</td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="product.status == 1"
                                    v-on:click="changeStatusProduct(product, index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary" v-on:click="changeStatusProduct(product, index)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="productCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize" @change="pageChange" />
        <modal v-if="popupEditProduct" :title="$i(this.titleModal)" @close="popupEditProduct = false">
            <div slot="body">
                <editProduct :productId="this.objDataUpdate.id" v-on:closePopup="closePopup()"></editProduct>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editProduct from './edit';
    export default {
        components: {
            'editProduct': editProduct,
        },
        data(){
            return {
                objDataSearch: {
                    id: -1,
                    title: '',
                    code: '',
                    status: 1,
                    languageCode: '',
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    title: '',
                    status: -1,
                },
                titleModal: '',
                popupEditProduct: false,
            }
        },
        computed: {
            ...mapGetters(['listProduct','productCount', 'activeLanguages']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListProduct', 'saveProduct', 'deleteProduct', 'getActiveLanguages']),
            searchData() {
                let loading = this.$loading.show();
                this.getListProduct(this.objDataSearch).then((response) => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatusProduct(objUpdate, index){
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteProduct(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            closePopup(){
                this.popupEditProduct = false;
                this.searchData();
            },
            openPopup(id){
                if( id > 0 ){
                    this.titleModal = 'TitleEditProduct';
                }else{
                    this.titleModal = 'TitleAddProduct';
                }
                this.popupEditProduct = true;
                this.objDataUpdate.id = id || 0;
            },
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.searchData();
            this.getActiveLanguagesCms();
        }
    };
</script>
