<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{$i('Title')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Title')" ref="title"
                           v-model="objData.title"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Position')}}</label>
                    <select class="form-control" v-model="objData.position" ref="position">
                        <option value="top">{{ $i('Top') }}</option>
                        <option value="footer">{{ $i('Footer') }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="saveMenuGroupCms()">
                <span>{{ $i('Save') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        props: ['menuGroupId'],
        data() {
            return {
                objData: {
                    id: 0,
                    title: '',
                    position: 'top',
                    status: 1,
                },
            }
        },
        computed: {
        },
        watch: {},
        methods: {
            ...mapActions(['getDetailMenuGroup', 'saveMenuGroup']),
            getDetailMenuGroupCms() {
                if (this.menuGroupId > 0) {
                    this.objData.id = this.menuGroupId;
                    this.getDetailMenuGroup(this.objData).then((response) => {
                        if(response.success) {
                            this.objData = response.data;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            saveMenuGroupCms() {
                if (!this.objData.title) {
                    this.$refs.title.focus();
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                if (!this.objData.position) {
                    this.$refs.position.focus();
                    return this.$message(this.$i('LabelErrorEmptyPosition'), 'error');
                }
                if(this.menuGroupId > 0){
                    this.saveMenuGroup(this.objData).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.$emit('closePopup');
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }else{
                    this.saveMenuGroup(this.objData).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.$emit('closePopup');
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
        },
        created() {
            this.getDetailMenuGroupCms();
        }
    }
</script>
