<template>
    <wrapper :title="$i('EditMenu')"
             sapo="">
        <div class="dn-content-left row menu">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mt-3">
                <div class="row mt-1">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-12">
                        <label class="tit float-right">{{ $i('Title') }}</label>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-12">
                        <input type="text"
                               class="form-control"
                               :placeholder="$i('Title')"
                               v-model="objMenuGroup.title"
                               disabled/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-12">
                        <label class="tit float-right">{{ $i('Position') }}</label>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-12">
                        <select class="form-control"
                                v-model="objMenuGroup.position"
                                disabled>
                            <option value="top">{{ $i('Top') }}</option>
                            <option value="footer">{{ $i('Footer') }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mt-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <input type="button"
                               :value="$i('ImportCategory')"
                               class="btn btn-primary"
                               v-on:click="importCategoryCms"/>
                        <input type="button"
                               :value="$i('DeleteCategory')"
                               class="btn btn-danger"
                               v-on:click="deleteCategoryMenuCms"/>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 ">
                        <router-link :to="{ path: '/menu' }" class="btn btn-danger float-right">
                            <span>{{ $i('Cancel') }}</span>
                        </router-link>
                        <input type="button"
                               :value="$i('CreateNewMenu')"
                               class="btn btn-primary float-right" style="margin-right: 30px;"
                               v-on:click="createMenuCms"/>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="row mt-5">
                    <h4 style="margin: 10px 0; width: 100%;">{{ $i('TreeMenuManagement') }}</h4>
                    <vue-nestable v-model="nestableItems"
                                  v-if="loader">
                        <vue-nestable-handle
                            :class="{'is-active': item.id == objData.menu_id}"
                            slot-scope="{ item }"
                            :item="item">{{ item.text }}
                            <span v-on:click="detailMenuCms(item.id)"
                                  class="mdi mdi-pencil-box-outline"
                                  v-bind:class="{active: isDetail}"></span>
                            <span v-on:click="deleteMenuCms(item.id)"
                                  class="mdi mdi-close-circle-outline"></span>
                        </vue-nestable-handle>
                    </vue-nestable>
                </div>
                <div class="row mt-3">
                    <input type="button"
                           :value="$i('UpdateOrder')"
                           class="btn btn-info"
                           v-on:click="updateOrderCms"/>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12"
                 style="padding-left:50px;">
                <div class="row mt-5">
                    <h4 style="margin: 10px 0; width: 100%;">
                        {{ this.titleMenu != '' ? $i(this.titleMenu) : $i('CreateNewMenu') }}
                    </h4>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-2"><label class="tit">{{ $i('Status') }}</label></div>
                    <div class="col-xl-10">
                        <select class="form-control select2" ref="status"
                                v-model="objData.status">
                            <option value="1">{{ $i('Active') }}</option>
                            <option value="0">{{ $i('DeActive') }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-2"><label class="tit">{{ $i('Type') }}</label></div>
                    <div class="col-xl-10">
                        <select class="form-control select2" ref="type"
                                v-model="objData.type">
                            <option value="page">{{ $i('Page') }}</option>
                            <option value="category">{{ $i('Category') }}</option>
                            <option value="information">{{ $i('Information') }}</option>
                            <option value="product">{{ $i('Product') }}</option>
                            <option value="blogCategory">{{ $i('BlogCategory') }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-2">
                        <label class="tit" v-if="objData.type == 'category'">{{ $i('Category') }}</label>
                        <label class="tit" v-if="objData.type == 'information'">{{ $i('Information') }}</label>
                        <label class="tit" v-if="objData.type == 'product'">{{ $i('Product') }}</label>
                        <label class="tit" v-if="objData.type == 'blogCategory'">{{ $i('BlogCategory') }}</label>
                    </div>
                    <div class="col-xl-10">
                        <select class="form-control select2" v-model="objData.item_id" ref="item_id"
                                v-if="objData.type == 'category'">
                            <option v-for="cate in listCategory" :value="cate.id">{{ cate.title }}</option>
                        </select>
                        <select class="form-control select2" v-model="objData.item_id" ref="item_id"
                                v-if="objData.type == 'information'">
                            <option v-for="info in listInformation" :value="info.id">{{ info.title }}
                            </option>
                        </select>
                        <select class="form-control select2" v-model="objData.item_id" ref="item_id"
                                v-if="objData.type == 'product'">
                            <option v-for="product in listProduct" :value="product.id">{{ product.title }}
                            </option>
                        </select>
                        <select class="form-control select2" v-model="objData.item_id" ref="item_id"
                                v-if="objData.type == 'blogCategory'">
                            <option v-for="blogCategory in listBlogCategory" :value="blogCategory.id">
                                {{ blogCategory.title }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"
                                v-for="(item, index) in activeLanguages"
                                :key="index"
                                @click="setActive(index)">
                                <a class="nav-link"
                                   :class="{ 'active': activeIndex === index}">
                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" v-if="loader">
                            <div class="tab-pane p-3"
                                 v-for="(item, index) in objData.descriptions"
                                 :class="{ 'active': activeIndex === index}" :key="index">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Title')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="item.title"
                                               :placehoder="$i('Title')" ref="title"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Link')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" v-model="item.link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-2">
                        <input type="button" :value="$i('Save')" class="btn btn-primary" v-on:click="saveMenuCms"
                               style="width: 80px;margin-right: 30px;"/>
                    </div>
                </div>
            </div>
        </div>
    </wrapper>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import axios from '../../core/plugins/http';

    export default {
        data() {
            return {
                objData: {
                    menu_id: 0,
                    item_id: 0,
                    parent_id: 1,
                    link: '',
                    position: 99,
                    type: '',
                    status: 1,
                    group_id: (this.$route.params.id > 0) ? this.$route.params.id : 0,
                    descriptions: [],
                },
                objMenuGroup: {
                    id: (this.$route.params.id > 0) ? this.$route.params.id : 0,
                    title: '',
                    position: 'top',
                },
                objImportCate: {
                    selected_id: 0,
                    menu_group_id: (this.$route.params.id > 0) ? this.$route.params.id : 0,
                },
                objCategory: {status: 1,},
                objBlogCategory: {status: 1,},
                objProduct: {status: 1,},
                objInformation: {status: 1,},
                nestableItems: [],
                isDetail: false,
                titleMenu: '',
                activeIndex: 0,
                loader: false,
            }
        },
        watch: {
            'objData.type': function (val) {
                if (val == 'category') {
                    this.getListCategoryCms();
                }
                if (val == 'information') {
                    this.getListInformationCms();
                }
                if (val == 'product') {
                    this.getListProductCms();
                }
                if (val == 'blogCategory') {
                    this.listBlogCategoryCms();
                }
            },
        },
        components: {},
        computed: {
            ...mapGetters(['listCategory', 'listBlogCategory', 'listInformation', 'listProduct', 'listBlogCategory', 'activeLanguages']),
        },
        methods: {
            ...mapActions(['getListMenu', 'getListInformation', 'getListProduct', 'getListBlogCategory', 'deleteMenu', 'getListCategory', 'getDetailMenuGroup', 'getTreeMenu',
                'saveMenu', 'importCategory', 'deleteCategoryMenu', 'saveOrderMenu', 'detailMenu', 'getActiveLanguages']),
            deleteCategoryMenuCms() {
                let loading = this.$loading.show();
                this.deleteCategoryMenu(this.objData).then((response) => {
                    if (response.success) {
                        this.getTreeMenuCms();
                    }
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getListCategoryCms() {
                this.getListCategory(this.objCategory).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            listBlogCategoryCms() {
                this.getListBlogCategory(this.objBlogCategory).then((response) => {
                    if (response.success) {
                    }
                }).catch(error => {
                    return this.$message(error.message, 'error');
                })
            },
            getListInformationCms() {
                this.getListInformation(this.objInformation).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getListProductCms() {
                this.getListProduct(this.objProduct).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            importCategoryCms() {
                let loading = this.$loading.show();
                this.importCategory(this.objImportCate).then((response) => {
                    if (response.success) {
                        this.nestableItems = response.data;
                        this.getTreeMenuCms();
                    }
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getTreeMenuCms() {
                this.getTreeMenu(this.objImportCate).then((response) => {
                    if (response.success) {
                        if (response.data != null) {
                            this.nestableItems = response.data;
                            this.loader = true;
                        } else {
                            this.nestableItems = [];
                        }
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getDetailMenuGroupCms() {
                this.getDetailMenuGroup(this.objMenuGroup).then((response) => {
                    if (response.success) {
                        this.objMenuGroup = response.data;
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            updateOrderCms() {
                let loading = this.$loading.show();
                this.saveOrderMenu(this.nestableItems).then((response) => {
                    loading.hide();
                    if (response.success) {
                        this.getTreeMenuCms();
                    }
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });

            },
            saveMenuCms() {
                if (!this.objData.status) {
                    this.$refs.status.focus();
                    return this.$message(this.$i('LabelErrorEmptyStatus'), 'error');
                }
                if (!this.objData.type) {
                    this.$refs.type.focus();
                    return this.$message(this.$i('LabelErrorEmptyType'), 'error');
                }
                if (this.objData.type != '' && this.objData.type == 'category' && this.objData.item_id == 0) {
                    this.$refs.item_id.focus();
                    return this.$message(this.$i('LabelErrorEmptyCategory'), 'error');
                }
                if (this.objData.type != '' && this.objData.type == 'information' && this.objData.item_id == 0) {
                    this.$refs.item_id.focus();
                    return this.$message(this.$i('LabelErrorEmptyInformation'), 'error');
                }
                if (this.objData.type != '' && this.objData.type == 'product' && this.objData.item_id == 0) {
                    this.$refs.item_id.focus();
                    return this.$message(this.$i('LabelErrorEmptyProduct'), 'error');
                }
                if (this.objData.type != '' && this.objData.type == 'product' && this.objData.item_id == 0) {
                    this.$refs.item_id.focus();
                    return this.$message(this.$i('LabelErrorEmptyProduct'), 'error');
                }
                if (this.objData.type != '' && this.objData.type == 'blogCategory' && this.objData.item_id == 0) {
                    this.$refs.item_id.focus();
                    return this.$message(this.$i('LabelErrorEmptyBlogCategory'), 'error');
                }
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveMenu(this.objData).then((response) => {
                    if (response.success) {
                        this.resetObjData();
                        this.getTreeMenuCms();
                        this.$message(this.$i('Successful'));
                        // this.$router.push({path: '/menu/edit/'+this.$route.params.id});
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            deleteMenuCms(id) {
                this.$confirm(this.$i('DoYouWantToDelete')).then(() => {
                    let loading = this.$loading.show();
                    this.deleteMenu(id).then((response) => {
                        loading.hide();
                        if (response.success) {
                            this.getTreeMenuCms();
                        }
                    }).catch((error) => {
                        loading.hide();
                        return this.$message(error.message, 'error');
                    });
                });
            },
            detailMenuCms(id) {
                let loading = this.$loading.show();
                this.isDetail = false;
                this.detailMenu(id).then((response) => {
                    loading.hide();
                    if (response.success) {
                        this.objData = response.data;
                        this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                            return response.data.descriptions.filter(j => {
                                if (j.languageCode == i.languageCode)
                                    return j;
                            })[0] || i;
                        });
                        this.titleMenu = 'EditMenu';
                        this.isDetail = true;
                        this.loader = true;
                    }
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        link: '',
                    }
                })
            },
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getTreeMenuCms();
                    this.getDetailMenuGroupCms();
                    this.resetObjData();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            createMenuCms() {
                this.titleMenu = '';
                this.resetObjData();
            },
            resetObjData() {
                return this.objData = {
                    menu_id: 0,
                    item_id: 0,
                    parent_id: 1,
                    link: '',
                    position: 99,
                    type: '',
                    status: 1,
                    group_id: this.$route.params.id,
                    descriptions: this.getLanguageIsNotDefault(),
                };
            },
            setActive(index) {
                this.activeIndex = index;
            },
        },
        created() {
            this.getActiveLanguagesCms();
        },
        updated() {
            let a = document.querySelectorAll('.nestable-item-content');
            let b = document.querySelector('.isActive');
            if (b) {
                b.classList.remove('isActive');
            }
            a.forEach((v, k) => {
                if (v.querySelectorAll('.is-active').length) {
                    a[k].classList.add('isActive');
                }
            })
        }
    }
</script>
<style type="text/css">
    .nestable {
        position: relative;
        width: 100%;
    }

    .nestable .nestable-list {
        margin: 0;
        padding: 0 0 0 40px;
        list-style-type: none;
    }

    .nestable-item-content {
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-color: #D4D4D4 #D4D4D4 #BCBCBC;
        padding: 8px;
        margin: 0;
        width: 100%;
        background: #FFF;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    }

    .nestable-item span.mdi {
        float: right;
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .nestable > .nestable-list {
        padding: 0;
    }

    .nestable-item,
    .nestable-item-copy {
        margin: 10px 0 0;
    }

    .nestable-item:first-child,
    .nestable-item-copy:first-child {
        margin-top: 0;
    }

    .nestable-item .nestable-list,
    .nestable-item-copy .nestable-list {
        margin-top: 10px;
    }

    .nestable-item {
        position: relative;
    }

    .nestable-item.is-dragging .nestable-list {
        pointer-events: none;
    }

    .nestable-item.is-dragging * {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .nestable-item.is-dragging:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(106, 127, 233, 0.274);
        border: 1px dashed rgb(73, 100, 241);
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .nestable-drag-layer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        pointer-events: none;
    }

    .nestable-drag-layer > .nestable-list {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        background-color: rgba(106, 127, 233, 0.274);
    }

    .nestable [draggable="true"] {
        cursor: move;
        width: 100%;
    }

    .nestable-handle {
        display: block;
    }

    .menu label.tit {
        text-align: center;
        font-weight: 700;
        padding: 5px 0;
    }

    .isActive {
        border: 1px solid #3eb7ba;
    }
</style>
