<template>
    <wrapper :title="(this.$route.params.id > 0) ? $i('EditInformation') : $i('AddInformation')"
             sapo="">
        <div class="dn-content-left information">
            <form action="#" @submit.prevent="saveInformationCms" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Information') }}</h3>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Banner')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-control" v-model="objData.banner_group_id">
                                            <option value="0">{{ $i('Select') }}</option>
                                            <option v-for="item in listBannerGroup" :value="item.id">{{ item.title }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Status')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-control" v-model="objData.status">
                                            <option value="1">{{ $i('Active') }}</option>
                                            <option value="0">{{ $i('DeActived') }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActive(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndex === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" v-if="loader">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndex === index}" :key="index">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Title')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="item.title"
                                                               :placehoder="$i('Title')" ref="title"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Description')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`description`"
                                                                  :index="index"
                                                                  :value="item.description"></tiny-mce>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Content')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`content`"
                                                                  :index="index"
                                                                  :value="item.content"
                                                                  :height="500"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <h3 class="mt-0 header-title">{{ $i('Seo') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActiveSeo(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndexSeo === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" v-if="loader">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndexSeo === index}" :key="index">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('MetaTitle')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text"
                                                               v-model="item.meta_title"
                                                               :placehoder="$i('MetaTitle')"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('MetaDescription')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData"
                                                                  :field="`meta_description`" :index="index"
                                                                  :value="item.meta_description"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button class="btn btn-primary" style="width: 80px;margin-right: 30px;">
                            <span>{{ $i('Save') }}</span>
                        </button>
                        <router-link :to="{ path: '/information' }" class="btn btn-danger">
                            <span>{{ $i('Cancel') }}</span>
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                objData: {
                    id: this.$route.params.id || -1,
                    banner_group_id: 0,
                    status: 1,
                    descriptions: [],
                },
                objBanner: {status: 1,},
                activeIndex: 0,
                activeIndexSeo: 0,
                loader: false,
            }
        },
        computed: {
            ...mapGetters(['listBannerGroup', 'activeLanguages']),
        },
        watch: {},
        methods: {
            ...mapActions(['getListInformation', 'getDetailInformation', 'saveInformation', 'getListBannerGroup', 'getActiveLanguages']),
            getDetailInformationCms() {
                if (this.$route.params.id > 0) {
                    this.objData.id = this.$route.params.id;
                    this.getDetailInformation(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            this.loader = true;
                        }

                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.objData.descriptions = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        description: '',
                        content: '',
                        meta_title: '',
                        meta_description: ''
                    }
                })
            },
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getDetailInformationCms();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getListBannerGroupCms() {
                this.getListBannerGroup(this.objBanner).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            saveInformationCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveInformation(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        setTimeout(() => {
                            this.$router.push('/information');
                        }, 1000)
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            bindData(contents, field, obj, index) {
                this.objData.descriptions[index][field] = contents;
            },
            setActive(index) {
                this.activeIndex = index;
            },
            setActiveSeo(index) {
                this.activeIndexSeo = index;
            },
        },
        created() {
            this.getActiveLanguagesCms();
            this.getListBannerGroupCms();

        }
    }
</script>
