<template>
    <wrapper :title="$i('InformationList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.title" :placeholder="$i('Keyword')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.languageCode">
                        <option value="">{{$i('SelectLanguage')}}</option>
                        <option v-for="item in activeLanguages" :value="item.code">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                    <router-link :to="{path: '/information/add'}" class="btn btn-primary">{{ $i('Add') }}</router-link>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('Title')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(information, index) in listInformation" class="post-item-group">
                        <td>{{ index+1 + rowNum }}</td>
                        <td>
                            <router-link :to="{path: '/information/edit/'+information.id}" style="color: #0f74a8;">{{
                                information.title }}
                            </router-link>
                        </td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="information.status == 1"
                                    v-on:click="changeStatusInformation(information, index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary"
                                    v-on:click="changeStatusInformation(information, index)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="informationCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        components: {},
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    title: '',
                    languageCode: '',
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    title: '',
                    status: -1,
                },
            }
        },
        computed: {
            ...mapGetters(['listInformation', 'informationCount', 'activeLanguages']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListInformation', 'saveInformation', 'deleteInformation', 'getActiveLanguages']),
            searchData() {
                let loading = this.$loading.show();
                this.getListInformation(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatusInformation(objUpdate, index) {
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteInformation(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.searchData();
            this.getActiveLanguagesCms();
        }
    };
</script>
