<template>
    <div>
        <div class="row attribute">
            <div class="col-lg-12">
                <div class="form-group" v-if="loader">
                    <label>{{$i('Name')}}</label>
                    <div class="col-lg-12" v-for="(item, index) in this.objData.titles" :key="index">
                        <div class="row mt-2">
                            <div class="col-lg-1" style="padding: 10px 0;">
                                <photo :src="item.flagIcon" :style="`width: 30px; float: right; height: auto;border: 1px solid #ececec;`"></photo>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" :placeholder="$i('Title')" ref="title"
                                       v-model="item.title"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{$i('Icon')}}</label>
                    <photo-drag-drop :src="objData.icon"
                                     v-on:change="objData.icon = $event"
                                     :width="`50px`" :height="`50px`">
                    </photo-drag-drop>
                </div>
                <div class="form-group">
                    <label>{{$i('Position')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Title')"
                           v-model="objData.position"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="saveAttributeCms()">
                <span>{{ $i('Save') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';

    export default {
        props: ['attributeId'],
        data() {
            return {
                objData: {
                    id: -1,
                    icon: '',
                    status: 1,
                    position: 1,
                    titles: [],
                },
                loader: false,
            }
        },
        computed: {
            ...mapGetters(['activeLanguages']),
        },
        components: {
            'photo-drag-drop': PhotoDragDrop
        },
        watch: {},
        methods: {
            ...mapActions(['getListAttribute', 'getDetailAttribute', 'saveAttribute', 'getActiveLanguages']),
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                    this.getDetailAttributeCms();
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getDetailAttributeCms() {
                let loading = this.$loading.show();
                if (this.attributeId > 0) {
                    this.objData.id = this.attributeId;
                    this.getDetailAttribute(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.titles = this.getLanguageIsNotDefault().map(i => {
                                return response.data.titles.filter(j => {
                                    if (j.languageCode == i.languageCode) {
                                        j['flagIcon'] = i['flagIcon'];
                                        return j;
                                    }
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                        loading.hide();
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    loading.hide();
                    this.objData.titles = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        flagIcon: i.flagIcon,
                    }
                })
            },
            saveAttributeCms() {
                let error = false;
                this.objData.titles.forEach(function (e) {
                    if(!e.title){
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveAttribute(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.$emit('closePopup');
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.getActiveLanguagesCms();
        }
    }
</script>
