<template>
    <wrapper :title="$i('AttributeList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.title" :placeholder="$i('Keyword')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.languageCode">
                        <option value="">{{$i('SelectLanguage')}}</option>
                        <option v-for="item in activeLanguages" :value="item.code">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                    <input class="btn btn-primary" type="button" @click="openPopup(0)" :value="$i('Add')"/>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('Attribute')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(attribute, index) in listAttribute" class="post-item-group">
                        <td>{{ index+1 + rowNum }}</td>
                        <td><a href="javascript:;" @click="openPopup(attribute.id)" style="color: #0f74a8;">{{
                            attribute.title }}</a></td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="attribute.status == 1"
                                    v-on:click="changeStatusAttribute(attribute, index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary"
                                    v-on:click="changeStatusAttribute(attribute, index)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="attributeCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
        <modal v-if="popupEditAttribute" :title="$i(this.titleModal)" @close="popupEditAttribute = false">
            <div slot="body">
                <editAttribute :attributeId="this.objDataUpdate.id" v-on:closePopup="closePopup()"></editAttribute>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editAttribute from './edit';

    export default {
        components: {
            'editAttribute': editAttribute,
        },
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    title: '',
                    languageCode: '',
                    status: 1,
                    position: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    title: '',
                    status: -1,
                    position: 1,
                },
                titleModal: '',
                popupEditAttribute: false,
            }
        },
        computed: {
            ...mapGetters(['listAttribute', 'attributeCount', 'activeLanguages']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListAttribute', 'saveAttribute', 'deleteAttribute', 'getActiveLanguages']),
            searchData() {
                let loading = this.$loading.show();
                this.getListAttribute(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatusAttribute(objUpdate, index) {
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteAttribute(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            closePopup() {
                this.popupEditAttribute = false;
                this.searchData();
            },
            openPopup(id) {
                if (id > 0) {
                    this.titleModal = 'TitleEditAttribute';
                } else {
                    this.titleModal = 'TitleAddAttribute';
                }
                this.popupEditAttribute = true;
                this.objDataUpdate.id = id || 0;
            },
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.searchData();
            this.getActiveLanguagesCms();
        }
    };
</script>
