﻿<template>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">
                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Welcome!</h4>
                    <p class="text-muted text-center">Sign in to continue to SAKURA.</p>
                    <form class="form-horizontal m-t-30" @submit.prevent="login">
                        <div class="form-group">
                            <label>{{ $i('Username') }}</label>
                            <input type="text" class="form-control" :placeholder="$i('Username')"
                                   v-model="objLogin.name">
                        </div>
                        <div class="form-group">
                            <label>{{ $i('Password') }}</label>
                            <input type="password" class="form-control" :placeholder="$i('Password')"
                                   v-model="objLogin.password">
                        </div>
                        <div class="form-group row m-t-20">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="customControlInline"> <label
                                    class="custom-control-label" for="customControlInline">Remember me</label></div>
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                    {{ $i('LogIn') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex';
    import CONSTANTS from '../../core/utils/constants';

    export default {
        name: 'login',
        data() {
            return {
                objLogin: {
                    name: '',
                    password: ''
                }
            }
        },
        computed: {},
        methods: {
            ...mapActions(['retrieveToken']),
            login() {
                let loading = this.$loading.show();
                this.retrieveToken(this.objLogin).then((response) => {
                    loading.hide();
                    this.$router.push({path: '/product'});
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
        },
        created() {
            if (!process.env.VUE_ENV) {
                if (localStorage.getItem(CONSTANTS.ACCESS_TOKEN)) {
                    if (this.$route.query && this.$route.query.returnUrl)
                        this.$router.push(decodeURIComponent(this.$route.query.returnUrl));
                    else
                        this.$router.push('/product');
                }
            }
            localStorage.setItem(CONSTANTS.CURRENT_VERSION, this.appSettings.version);
        }
    };
</script>
