﻿<template>
    <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu" id="side-menu">
                    <li v-if="$isPermiss(2)">
                        <a href="javascript:void(0);" @click="activate(`catalog`)">
                            <i class="mdi mdi-silverware-variant"></i>
                            <span>{{$i('Catalog')}}
                                <span class="float-right menu-arrow">
                                    <i class="mdi mdi-chevron-right"
                                       :class="{ 'mdi-rotate-90' : activeMenu === `catalog` && checkActiveParent }">
                                    </i>
                                </span>
                            </span>
                        </a>
                        <ul class="submenu collapse"
                            :class="{ in : activeMenu === `catalog` && checkActiveParent }">
                            <li>
                                <router-link to="/product"><span>{{$i('Product')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/category"><span>{{$i('Category')}}</span></router-link>
                            </li>
                            <li>
                                <router-link to="/goodPoint"><span>{{$i('GoodPoint')}}</span></router-link>
                            </li>
                            <li>
                                <router-link to="/attribute"><span>{{$i('Attribute')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/day"><span>{{$i('Day')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/information"><span>{{$i('Information')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/reviews"><span>{{$i('Reviews')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/contact"><span>{{$i('Contacts')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/extension"><span>{{$i('Extensions')}}</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$isPermiss(4)">
                        <a href="javascript:void(0);" @click="activate(`blog`)">
                            <i class="mdi mdi-newspaper"></i>
                            <span>{{$i('Blog')}}
                                <span class="float-right menu-arrow">
                                    <i class="mdi mdi-chevron-right"
                                       :class="{ 'mdi-rotate-90' : activeMenu === `blog` && checkActiveParent }">
                                    </i>
                                </span>
                            </span>
                        </a>
                        <ul class="submenu collapse"
                            :class="{ in : activeMenu === `blog` && checkActiveParent }">
                            <li>
                                <router-link to="/blogPost"><span>{{$i('BlogPost')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/blogCategory"><span>{{$i('BlogCategory')}}</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$isPermiss(5)">
                        <router-link to="/menu"><i class="mdi mdi-menu"></i><span>{{$i('Menu')}}</span>
                        </router-link>
                    </li>
                    <li v-if="$isPermiss(6)">
                        <router-link to="/banner"><i class="mdi mdi-file-image"></i><span>{{$i('Banner')}}</span>
                        </router-link>
                    </li>
                    <li v-if="$isPermiss(7)">
                        <router-link to="/quickQuote"><i class="mdi mdi-wallet-membership"></i><span>{{$i('QuickQuote')}}</span>
                        </router-link>
                    </li>
                    <li v-if="$isPermiss(8)"><a href="javascript:void(0);" @click="activate(`systemConfig`)"><i
                        class="mdi mdi-settings"></i><span>{{$i('SystemConfig')}}<span
                        class="float-right menu-arrow">
                        <i class="mdi mdi-chevron-right"
                           :class="{ 'mdi-rotate-90' : activeMenu === `systemConfig` && checkActiveParent }">
                        </i></span></span></a>
                        <ul class="submenu collapse"
                            :class="{ in : activeMenu === `systemConfig` && checkActiveParent }">
                            <li>
                                <router-link to="/setting">
                                    <i class="fa fa-adjust"></i>
                                    <span>{{$i('SystemConfig')}}</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/language">
                                    <i class="fa fa-language"></i>
                                    <span>{{$i('Language')}}</span></router-link>
                            </li>
                            <li><a href="javascript:void(0);" @click="activateSubmenu(`resource`)"><i
                                class="mdi mdi-map-marker-radius"></i><span>{{$i('Resource')}}<span
                                class="float-right menu-arrow"><i
                                class="mdi mdi-chevron-right"
                                :class="{ 'mdi-rotate-90' : activeSubmenu === `resource` && checkActiveChild }"></i></span></span></a>
                                <ul class="submenu collapse level2"
                                    :class="{ in : activeSubmenu === `resource` && checkActiveChild }">
                                    <li>
                                        <router-link to="/area"><span>{{$i('Area')}}</span></router-link>
                                    </li>
                                    <li>
                                        <router-link to="/province"><span>{{$i('Province')}}</span></router-link>
                                    </li>
                                    <li>
                                        <router-link to="/place"><span>{{$i('Place')}}</span></router-link>
                                    </li>
                                    <li>
                                        <router-link to="/request"><span>{{$i('Request')}}</span></router-link>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0);" @click="activateSubmenu(`user`)">
                                <i class="mdi mdi-account-multiple"></i> <span>{{$i('Users')}}<span
                                class="float-right menu-arrow"><i
                                class="mdi mdi-chevron-right"
                                :class="{ 'mdi-rotate-90' : activeSubmenu === `user` && checkActiveChild }"></i></span></span></a>
                                <ul class="submenu collapse level2"
                                    :class="{ in : activeSubmenu === `user` && checkActiveChild }">
                                    <li>
                                        <router-link to="/role"><span>{{$i('Role')}}</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link to="/user"><span>{{$i('User')}}</span>
                                        </router-link>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
</template>
<style>
    #remove-scroll {
        height: calc(100vh - 80px);
    }
</style>
<script>
    import Vue from 'vue'
    import vueScroll from 'vuescroll'

    export default {
        components: {vueScroll},
        props: {
            open: {
                type: Boolean,
                default: true
            },
            docked: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                menuVal: '#/',
                activeMenu: '',
                activeSubmenu: '',
                checkActiveParent: false,
                checkActiveChild: true,
                versions: [],
                ops: {
                    rail: {
                        opacity: '0.5',
                        background: 'transparent',
                        keepShow: false
                    },
                    bar: {
                        background: '#ccc',
                        keepShow: false
                    },
                    scrollPanel: {
                        easing: 'easeInQuad',
                        speed: 800
                    }
                }
            }
        },
        computed: {
            lang() {
                return Vue.config.lang
            }
        },
        methods: {
            handleClose() {
                this.$emit('close')
            },
            handleMenuChange(val) {
                this.menuVal = val
                if (this.docked) {
                    window.location.hash = this.menuVal
                } else {
                    this.changeHref = true
                }
                this.changeHref = true
                this.$emit('change', val)
            },
            handleHide() {
                if (!this.changeHref) return
                window.location.hash = this.menuVal
                this.changeHref = false
            },
            changeLang(lang) {
                Vue.config.lang = lang
                window.localStorage.setItem('lang', lang)
            },
            handleMenuClick(item) {
                this.$emit('change', item.title);
            },
            activate: function (el) {
                if (this.activeMenu == el) {
                    this.checkActiveParent = !this.checkActiveParent;
                } else {
                    this.checkActiveParent = true;
                }
                this.activeMenu = el;
            },
            activateSubmenu: function (el) {
                if (this.activeSubmenu == el) {
                    this.checkActiveChild = !this.checkActiveChild;
                } else {
                    this.checkActiveChild = true;
                }
                this.activeSubmenu = el;
            },
            checkPermission(permissionIds) {
                if (typeof (permissionIds) != "object")
                    permissionIds = [permissionIds];

                let permission = this._.filter(this.userPermissions, (item) => {
                    return permissionIds.indexOf(item.id) >= 0;
                });
                return (permission && permission.length > 0);
            },

        }
    }
</script>
