<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{ $i("LanguageKey") }}</label>
                    <input type="text" class="form-control"
                           v-model="objData.languageKey"/>
                </div>
                <div class="form-group">
                    <label>{{ $i("LanguageDefaultValue") }}</label>
                    <input type="text" class="form-control"
                           v-model="objData.languageDefaultValue"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="editLanguageStatic()">
                <span>{{ $i("Add") }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex';

    export default {
        data() {
            return {
                objData: {
                    languageKey: '',
                    languageDefaultValue: '',
                },
            }
        },
        computed: {
        },
        watch: {},
        methods: {
            ...mapActions(['saveLanguageStatic']),
            editLanguageStatic() {
                if (!this.objData.languageKey || !this.objData.languageDefaultValue) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveLanguageStatic(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Success'));
                        this.$emit('closePopup');
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            }
        },
        created() {

        }
    }
</script>
