<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{$i('Name')}}</label>
                    <div class="col-lg-12" v-for="(item, index) in this.objData.titles" :key="index">
                        <div class="row mt-2">
                            <div class="col-lg-1" style="padding: 10px 0;">
                                <photo :src="item.flagIcon" :style="`width: 30px; float: right; height: auto;border: 1px solid #ececec;`"></photo>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" :placeholder="$i('Title')" ref="title"
                                       v-model="item.title"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="savePlaceCms()">
                <span>{{ $i('Save') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import {getListArea} from "../../vuex/area/actions";

    export default {
        props: ['placeId'],
        data() {
            return {
                objData: {
                    id: -1,
                    titles: [],
                    status: 1,
                },
            }
        },
        computed: {
            ...mapGetters(['activeLanguages', 'listArea']),
        },
        watch: {},
        methods: {
            ...mapActions(['getListPlace', 'getDetailPlace', 'savePlace', 'getActiveLanguages', 'getListArea']),
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        flagIcon: i.flagIcon,
                    }
                })
            },
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                    this.getDetailPlaceCms();
                    this.getListArea();
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getDetailPlaceCms() {
                let loading = this.$loading.show();
                if (this.placeId) {
                    this.objData.id = this.placeId;
                    this.getDetailPlace(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.titles = this.getLanguageIsNotDefault().map(i => {
                                return response.data.titles.filter(j => {
                                    if (j.languageCode == i.languageCode) {
                                        j['flagIcon'] = i['flagIcon'];
                                        return j;
                                    }
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                    })
                } else {
                    this.objData.titles = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
                loading.hide();
            },
            savePlaceCms() {
                let error = false;
                this.objData.titles.forEach(function (e) {
                    if(!e.title){
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.savePlace(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.$emit('closePopup');
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.getActiveLanguagesCms();
        }
    }
</script>
