<template>
    <wrapper :title="(this.$route.params.id > 0) ? $i('EditCategory') : $i('AddCategory')"
             sapo="">
        <div class="dn-content-left category">
            <form action="#" @submit.prevent="saveCategoryCms" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Category') }}</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <photo-drag-drop :src="objData.category.image" v-on:change="changeImage"
                                                         :showDelete="true"
                                                         :height="`350px`"></photo-drag-drop>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('CategoryParent')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.category.parent_id">
                                                    <option value="0">{{ $i('Select') }}</option>
                                                    <option v-for="category in listCategory" :value="category.id">
                                                        {{ category.title }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Banner')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.category.banner_group_id">
                                                    <option value="0">{{ $i('Select') }}</option>
                                                    <option v-for="item in listBannerGroup" :value="item.id">
                                                        {{ item.title }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Status')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.category.status">
                                                    <option value="1">{{ $i('Active') }}</option>
                                                    <option value="0">{{ $i('DeActived') }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActive(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndex === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" v-if="loader">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndex === index}" :key="index">
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Title')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="item.title"
                                                               :placehoder="$i('Title')" ref="title"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('ShortDescription')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea v-model="item.short_description" rows="4"
                                                                  class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Description')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`description`"
                                                                  :value="item.description" :index="index"
                                                                  :height="400"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 icon">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Icon') }}</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <photo-drag-drop :src="objData.category.icon" v-on:change="changeIcon"
                                                         :showDelete="true"
                                                         :width="`100px`" :height="`100px`"></photo-drag-drop>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Seo') }}</h3>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"
                                        v-for="(item, index) in activeLanguages"
                                        :key="index"
                                        @click="setActiveSeo(index)">
                                        <a class="nav-link"
                                           :class="{ 'active': activeIndexSeo === index}">
                                            <span class="d-none d-sm-block">{{ item.name }}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" v-if="loader">
                                    <div class="tab-pane p-3"
                                         v-for="(item, index) in objData.descriptions"
                                         :class="{ 'active': activeIndexSeo === index}" :key="index">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('MetaTitle')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <input type="text" v-model="item.meta_title"
                                                       :placehoder="$i('Title')"
                                                       class="form-control"></input>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('MetaDescription')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <tiny-mce v-on:change="bindData" :field="`meta_description`"
                                                          :index="index"
                                                          :value="item.meta_description"></tiny-mce>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button class="btn btn-primary" style="width: 80px;margin-right: 30px;">
                            <span>{{ $i('Save') }}</span>
                        </button>
                        <router-link :to="{ path: '/category' }" class="btn btn-danger">
                            <span>{{ $i('Cancel') }}</span>
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';

    export default {
        data() {
            return {
                objData: {
                    category: {
                        id: this.$route.params.id || -1,
                        parent_id: 0,
                        banner_group_id: 0,
                        position: 0,
                        image: '' || 'assets/file-upload.jpg',
                        icon: '',
                        status: 1,
                    },
                    descriptions: [],
                },
                objBanner: {status: 1,},
                objCategory: {status: 1,},
                activeIndex: 0,
                activeIndexSeo: 0,
                loader: false,
            }
        },
        computed: {
            ...mapGetters(['listCategory', 'listBannerGroup', 'activeLanguages']),
        },
        components: {
            'photo-drag-drop': PhotoDragDrop
        },
        watch: {},
        methods: {
            ...mapActions(['getListCategory', 'getDetailCategory', 'saveCategory', 'getListBannerGroup', 'getActiveLanguages']),
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                    this.getDetailCategoryCms();
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getDetailCategoryCms() {
                let loading = this.$loading.show();
                if (this.$route.params.id != null && this.$route.params.id > 0) {
                    this.objData.category.id = this.$route.params.id;
                    this.getDetailCategory(this.objData).then((response) => {
                        if (response.success) {
                            this.objData.category = response.data.category;
                            this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                        loading.hide();
                    }).catch((error) => {
                        loading.hide();
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.objData.descriptions = this.getLanguageIsNotDefault();
                    loading.hide();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        short_description: '',
                        description: '',
                        meta_title: '',
                        meta_description: '',
                    }
                })
            },
            setActive(index) {
                this.activeIndex = index;
            },
            setActiveSeo(index) {
                this.activeIndexSeo = index;
            },
            getListBannerGroupCms() {
                this.getListBannerGroup(this.objBanner).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getListCategoryCms() {
                this.getListCategory(this.objCategory).then((response) => {
                    if (response.success) {
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            saveCategoryCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveCategory(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        setTimeout(() => {
                            this.$router.push('/category');
                        }, 1000)
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            bindData(contents, field, obj, index) {
                this.objData.descriptions[index][field] = contents;
            },
            changeImage(src) {
                this.objData.category.image = src;
            },
            changeIcon(src) {
                this.objData.category.icon = src;
            }
        },
        created() {
            this.getActiveLanguagesCms();
            this.getListCategoryCms();
            this.getListBannerGroupCms();
        }
    }
</script>
<style>
    .category .icon .upload-drag-drop-image {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .category .icon .el-upload-dragger {
        height: 100px;
    }
</style>
