<template>
    <wrapper :title="(this.$route.params.id > 0) ? $i('EditBlog') : $i('AddBlog')"
             sapo="">
        <div class="dn-content-left category">
            <form action="#" @submit.prevent="saveModuleCms" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('BlogDetail') }}</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('NameModule')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <input type="text" v-model="objData.name" :placehoder="$i('NameModule')"
                                                       ref="title"
                                                       class="form-control"></input>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Page')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <el-select v-model="objData.page" placeholder="Select">
                                                            <el-option
                                                                v-for="item in pages"
                                                                :key="item.value"
                                                                :label="item.label"
                                                                :value="item.value">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Position')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <el-select v-model="objData.position" placeholder="Select">
                                                            <el-option
                                                                v-for="item in positions"
                                                                :key="item.value"
                                                                :label="item.label"
                                                                :value="item.value">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('SortOrder')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="objData.sort_order"
                                                               :placehoder="$i('SortOrder')"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Limit')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="objData.setting.limit"
                                                               :placehoder="$i('Limit')"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Status')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.status" ref="status">
                                                    <option value="1">{{ $i('Active') }}</option>
                                                    <option value="0">{{ $i('DeActive') }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('CategoryBlog')}}</label>
                                            </div>
                                            <div class="col-lg-12" v-click-outside="closeSelection">
                                                <div class="multiple-select" style="position:relative">
                                                    <input type="text" class="form-control" v-model="keywordBlog"
                                                           v-on:click="searchBlogCms"
                                                           v-on:keyup="searchBlogCms"></input>
                                                    <ul class="dropdown-menu" style="width:100%"
                                                        v-bind:class="{'open': openSuggestionBlog}">
                                                        <li v-for="(suggestion, index) in matchesBlog"
                                                            @click="suggestionClickBlog(index)">
                                                            <span>{{ suggestion.title }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-link scroll">
                                                    <ul>
                                                        <li v-for="(item, index) in objData.setting.category"
                                                            :key="index">
                                                            <span>{{ item.title }}</span>
                                                            <span class="float-right"
                                                                  v-on:click="deleteSelectionBlog(index)"><i
                                                                class="mdi mdi-close-circle"></i></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"
                                        v-for="(item, index) in activeLanguages"
                                        :key="index"
                                        @click="setActive(index)">
                                        <a class="nav-link"
                                           :class="{ 'active': activeIndex === index}">
                                            <span class="d-none d-sm-block">{{ item.name }}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" v-if="loader">
                                    <div class="tab-pane p-3"
                                         v-for="(item, index) in objData.descriptions"
                                         :class="{ 'active': activeIndex === index}" :key="index">
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Title')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <input type="text" v-model="item.title"
                                                       :placehoder="$i('Title')"
                                                       ref="name"
                                                       class="form-control"></input>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Description')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                                <textarea rows="5" v-model="item.description"
                                                                          class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button class="btn btn-primary" style="width: 80px; margin-right: 30px;">
                            <span>{{ $i('Save') }}</span>
                        </button>
                        <router-link :to="{ path: '/extension' }" class="btn btn-danger">
                            <span>{{ $i('Cancel') }}</span>
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                objData: {
                    id: -1,
                    name: '',
                    code: 'blogCategory',
                    page: '',
                    position: '',
                    sort_order: '',
                    status: 1,
                    setting: {
                        limit: 5,
                        category: []
                    },
                    descriptions: [],
                },
                objBlogCategory: {title: '', status: 1, pageIndex: 1, pageSize: 10},
                loader: false,
                activeIndex: 0,
                openBlog: false,
                keywordBlog: '',
                suggestionsBlog: [],
                pages: [
                    {value: 'allPage', label: this.$i('AllPage')},
                    {value: 'home', label: this.$i('Home')},
                    {value: 'category', label: this.$i('Category')},
                    {value: 'product', label: this.$i('Product')},
                    {value: 'information', label: this.$i('Information')},
                    {value: 'blog', label: this.$i('Blog')}
                ],
                positions: [
                    {value: 'top', label: this.$i('Top')},
                    {value: 'content_top', label: this.$i('ContentTop')},
                    {value: 'content_bottom', label: this.$i('ContentBottom')},
                    {value: 'footer1', label: this.$i('Footer1')},
                    {value: 'footer2', label: this.$i('Footer2')},
                    {value: 'footer3', label: this.$i('Footer3')},
                    {value: 'footer4', label: this.$i('Footer4')}
                ],
            }
        },
        computed: {
            ...mapGetters(['activeLanguages']),
            matchesBlog() {
                return this.suggestionsBlog.filter((item) => {
                    return item.title.indexOf(this.keywordBlog) >= 0;
                });
            },
            openSuggestionBlog() {
                return this.suggestionsBlog.length != 0 && this.openBlog == true;
            },
        },
        watch: {},
        methods: {
            ...mapActions(['getListBlogCategory', 'getDetailModule', 'saveModule', 'getActiveLanguages']),
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getDetailModuleCms();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getDetailModuleCms() {
                if (this.$route.params.id > 0) {
                    this.objData.id = this.$route.params.id;
                    this.getDetailModule(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.objData.descriptions = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        description: '',
                        content: '',
                    }
                })
            },
            saveModuleCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveModule(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        setTimeout(() => {
                            this.$router.push('/extension');
                        }, 1000)
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            closeSelection: function () {
                this.openBlog = false;
            },
            searchBlogCms() {
                this.objBlogCategory.title = this.keywordBlog;
                this.getListBlogCategory(this.objBlogCategory).then((response) => {
                    if (response.success) {
                        this.suggestionsBlog = response.data;
                        this.openBlog = true;
                    }
                }).catch(error => {
                })
            },
            suggestionClickBlog(index) {
                let check = false;
                for (let i = 0; i < this.objData.setting.category.length; i++) {
                    if (this.objData.setting.category[i].id == this.matchesBlog[index].id) {
                        check = true;
                        break;
                    }
                }
                if (!check) {
                    this.objData.setting.category.push({
                        'id': this.matchesBlog[index].id,
                        'title': this.matchesBlog[index].title,
                    });
                }
                this.openBlog = false;
            },
            deleteSelectionBlog(index) {
                this.objData.setting.category.splice(index, 1);
            },
            setActive(index) {
                this.activeIndex = index;
            },
        },
        created() {
            this.getActiveLanguagesCms();
        }
    }
</script>
<style scoped>
    .el-select {
        width: 100%
    }
</style>
