@font-face {
    font-family: 'Muli';
    src: url('fonts/muli/Muli-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Muli';
    src: url('fonts/muli/Muli-Bold.ttf');
    font-weight: 600;
}

body {
    font-family: 'Muli';
    font-weight: 500;
}

button,
input,
optgroup,
select,
option,
textarea {
    font-family: 'Muli';
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

td {
    padding-bottom: 0;
}

h1,
h2 {
    margin-bottom: 0;
}

button:focus {
    outline: 0;
}

input[type=text] {
    font-size: 16px;
}

textarea:focus,
.input-text-sakura:focus,
.form-sakura .form-group-sakura .input-text:focus,
.form-sakura .form-group-sakura .textarea:focus {
    border-color: #ff94cf;
    outline: 0;
}

.detail-tour-sakura table>tbody>tr>td,
.detail-tour-sakura table>tbody>tr>th,
.detail-tour-sakura table>tfoot>tr>td,
.detail-tour-sakura table>tfoot>tr>th,
.detail-tour-sakura table>thead>tr>td,
.detail-tour-sakura table>thead>tr>th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.image-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.wp-thumb-service .image-cover {
    max-height: 480px;
    max-width: 460px;
}

.text-color {
    color: #ff94cf;
}

.logo img {
    margin: 0;
    padding: 0;
    max-width: 160px;
}

.pd-sakura {
    padding: 50px 0;
}

.heading-2 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 15px;
    line-height: 25px;
}

.heading-4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.view-more {
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
}

.bg-sakura {
    background: #fafafa;
}

@media (max-width: 575px) {
    .logo img {
        max-width: 100px;
    }
    .heading-3 {
        font-size: 14px;
    }
    .pd-sakura {
        padding: 20px 0;
    }
    .heading-2 {
        font-size: 17px;
        line-height: 25px;
    }
    .heading-4 {
        font-size: 13px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo img {
        max-width: 130px;
    }
    .heading-3 {
        font-size: 15px;
    }
    .pd-sakura {
        padding: 20px 0;
    }
    .heading-2 {
        font-size: 20px;
        line-height: 30px;
    }
    .heading-4 {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo img {
        max-width: 140px;
    }
    .heading-3 {
        font-size: 15px;
    }
    .pd-sakura {
        padding: 30px 0;
    }
    .heading-2 {
        font-size: 22px;
        line-height: 38px;
    }
    .heading-4 {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo img {
        max-width: 140px;
    }
    .heading-3 {
        font-size: 15px;
    }
    .pd-sakura {
        padding: 40px 0;
    }
    .heading-2 {
        font-size: 28px;
    }
}


/****************************/


/*pagination*/

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    border: 2px solid #ffffff;
}

.swiper-pagination-bullet-active {
    background: #ffffff;
}


/******************/

.img-flash {
    position: relative;
    overflow: hidden;
}

.img-flash:hover>* {
    opacity: 1;
    -webkit-animation: imgFlash 1.5s;
    -o-animation: imgFlash 1.5s;
    animation: imgFlash 1.5s
}

@-webkit-keyframes imgFlash {
    0% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes imgFlash {
    0% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

@keyframes imgFlash {
    0% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

.img-shine {
    position: relative;
    overflow: hidden
}

.img-shine:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 100;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transform: skewX(-25deg)
}

.img-shine:hover:before {
    display: block;
    -webkit-animation: imgShine .75s ease-in-out;
    -o-animation: imgShine .75s ease-in-out;
    animation: imgShine .75s ease-in-out
}

@-webkit-keyframes imgShine {
    0% {
        left: 0%
    }
    100% {
        left: 125%
    }
}

@-moz-keyframes imgShine {
    0% {
        left: 0%
    }
    100% {
        left: 125%
    }
}

@keyframes imgShine {
    0% {
        left: 0%
    }
    100% {
        left: 125%
    }
}


/***************************/


/* top page */

#toppage-btn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    padding: 0;
    border: none;
    background: none;
    z-index: 99;
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-shadow-drop-br {
    animation: text-shadow-drop-br 1.5s infinite both
}

@keyframes text-shadow-drop-br {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 6px 6px 18px #db67a7;
    }
}

.upper-header.border-bottom {
    border-bottom: 3px solid #ff94cf;
}


/* .banner-horizontal {
    height: 500px;
} */


/********************************* START index.css ****************************/

.topbar {
    background: #21242b;
}

.wrap-topbar {
    padding: 3px 0 5px 0;
}

.wrap-topbar .list-flag {
    display: -ms-flexbox!important;
    display: flex!important;
}

#form-language {
    display: -ms-flexbox!important;
    display: flex!important;
    margin: 0;
}

.language-select {
    padding: 5px !important;
}

.language-select>img {
    height: 14px;
}

.wrap-topbar .list-flag>li {
    display: inline-block;
    padding-right: 5px;
}

.wrap-topbar .list-flag>li>a {
    display: block;
}

.wrap-topbar .list-flag>li:first-child {
    padding-right: 10px;
}

.wrap-topbar .list-flag>li:last-child {
    padding-right: 0px;
}

.wrap-price-head {}

.wrap-price-head .icon {}

.wrap-price-head .text {
    color: #ffffff;
    font-size: 14px;
}

.wrap-topbar .list-flag>li:hover .wrap-price-head .text {
    color: #ff94cf;
}

.wrap-contact {}

.wrap-contact .contact {
    margin-right: 10px;
}

.wrap-contact .contact~.contact {
    margin-right: 0
}

.wrap-contact .contact .icon {
    color: #db67a7;
    font-size: 14px;
}

.wrap-contact .contact .text {
    color: #808080;
    font-size: 14px;
}

.wrap-contact .contact:hover .text {
    color: #db67a7;
}

.upper-header {
    background: #FFFFFF;
}

.pc-header {
    transition: .6s;
}

.pc-header.scroll {
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    background: #FFFFFF;
    transition: .6s;
    box-shadow: -1px 2px 9px 0px rgba(255, 148, 207, 0.75);
    -webkit-box-shadow: -1px 2px 9px 0px rgba(255, 148, 207, 0.75);
    -moz-box-shadow: -1px 2px 9px 0px rgba(255, 148, 207, 0.75);
}

.wrap-content-menu-sakura {
    position: relative;
}

.big-menu-sakura {}

.list-menu {
    width: 100%;
}

.list-menu>li {
    display: inline-block;
    position: relative;
}

.list-menu>li>a {
    display: inline-block;
    padding: 20px 0;
    margin: 0 10px;
    line-height: 28px;
    color: #414042;
    font-weight: 500;
    border-bottom: 5px solid #fff;
}

.list-menu>li .wrap-menu>a {
    padding: 20px 0;
    display: inline-block;
    line-height: 28px;
    color: #414042;
    font-weight: 500;
    border-bottom: 5px solid #fff;
}

.list-menu>li .wrap-menu {
    margin: 0 10px;
}

.list-menu>li:hover .wrap-menu>i,
.list-menu>li.active .wrap-menu>i {
    color: #ff94cf;
    transition: .4s;
}

@media only screen and (max-width: 991px) {
    .list-menu>li .wrap-menu {
        margin: 0 !important;
    }
    .list-menu>li .wrap-menu>a {
        padding: 5px 0
    }
}

.list-menu>li:last-child>a {
    padding-right: 0;
    margin-right: 0;
}

.list-menu>li:hover .wrap-menu>a>i,
.list-menu>li:hover .wrap-menu>a,
.list-menu>li:hover>a {
    color: #ff94cf;
    transition: .4s;
}

.list-menu>li.active .wrap-menu>a,
.list-menu>li.active>a {
    color: #ff94cf;
    border-bottom: 5px solid #ff94cf;
    transition: .4s;
}

.list-menu .item-menu.active.open .wp-list-menu-child-sakura {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translateY(0px);
}

.list-menu .item-menu.active.open>a {
    padding: 5px 0;
}

.list-menu>li .wrap-menu a .menu-title {
    margin-right: 5px;
}

.list-menu>li:hover .wrap-menu>a,
.list-menu>li:hover>a {
    border-bottom: 5px solid #ff94cf;
}

.list-menu>li>a>i {
    color: #bdbcbc;
    margin: 4px;
    font-size: 16px;
}

.list-menu .item-menu.active .wp-list-menu-child-sakura {
    opacity: 0;
    visibility: hidden;
}

.wp-list-menu-child-sakura {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #f6f6f6;
    padding: 10px 0;
    transform: translateY(30px);
    transition: .5s;
    z-index: 9;
    top: 100%;
}

.list-menu-child-sakura {}

.list-menu-child-sakura>li {
    width: 260px;
    position: relative;
    border-bottom: 1px dashed #d5d5d5;
}

.list-menu-child-sakura>li:last-child {
    border-bottom: none;
}

.list-menu-child-sakura>li>a {
    display: inline-block;
    color: #414042;
    padding: 7px 15px;
    width: 100%;
}

.list-menu-child-sakura>li:hover>a {
    color: #ffffff;
    background: #ff94cf;
    transition: .3s;
}

.list-menu>li.open .wp-list-menu-child-sakura.level-1 {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transform: translateY(0px);
    z-index: 9;
}

ul.list-menu-child-sakura li.sub-menu i {
    line-height: 25px;
}

.wp-list-menu-child-sakura.level-2 {
    top: 0;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 0px;
}

.wp-list-menu-child-sakura {
    border-top: 1px solid #ff94cf;
}

.list-menu-child-sakura>li:hover .wp-list-menu-child-sakura.level-2 {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transform: translateY(0px);
    z-index: 9;
}

.big-menu-sakura.active {
    height: 100%;
    transition: .7s;
}

@media (max-width: 575px) {
    .list-menu>li>a {
        padding: 2px 0 !important;
        margin: 0 !important;
    }
    .upper-header {
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .list-menu>li a {
        line-height: 22px;
    }
    .list-menu>li>a {
        padding: 5px 0 !important;
        margin: 0;
    }
    .upper-header {
        margin-bottom: 5px;
    }
}

@media (max-width: 991px) {
    .big-menu-sakura {
        width: 100%;
        box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, .1);
        height: 0;
        overflow: hidden;
    }
    .list-menu-Ha {
        padding: 20px;
        margin-top: 10px;
        border-top: 1px dashed #ff94cf;
    }
    .list-menu>li {
        width: 100%;
    }
    .list-menu>li>a {
        padding: 5px 0;
        margin: 0;
    }
    .bar-toggle-menu-mobile {
        position: absolute;
        top: 2px;
        right: -10px;
        padding: 14px;
    }
    .list-menu>li:hover .wp-list-menu-child-sakura {
        width: 100%;
    }
    .list-menu-child-sakura>li {
        width: 100%;
    }
    .upper-header {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .list-menu>li a {
        line-height: 22px;
    }
    .list-menu>li>a {
        padding: 8px 0;
        margin: 0;
    }
    .upper-header {
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .big-menu-sakura {
        display: block;
    }
    .list-menu>li>a {
        padding: 20px 0;
        margin: 0 5px;
    }
    .list-menu .item-menu.active .wp-list-menu-child-sakura {
        position: absolute !important;
    }
}

@media (min-width: 1200px) {
    .list-menu .item-menu.active .wp-list-menu-child-sakura {
        position: absolute !important;
    }
    .list-menu>li:hover .wp-list-menu-child-sakura.level-1 {
        opacity: 1;
        visibility: visible;
        transition: .5s;
        transform: translateY(0px);
        z-index: 9;
    }
}

.top-footer {
    background: #fafafa;
}

.content-top-footer {}

.content-company-sakura {}

.info-contact {}

.info-contact>li {
    margin-bottom: 10px;
}

.info-contact>li>a {
    display: block;
}

.info-contact>li>a .icon {}

.info-contact>li>a .text {
    margin-left: 5px;
}

.block-menu-footer {}

.list-menu-ft {}

.list-menu-ft>ul>li {
    margin-bottom: 10px;
}

.list-menu-ft>ul>li .title-ft {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 50px;
    margin-bottom: 20px;
    display: block;
}

.item-menu-ft {
    color: #414042;
}

.item-menu-ft:hover {
    color: #ff94cf;
}

.item-menu-ft.title-ft:hover {
    color: #414042;
}

@media (max-width: 575px) {
    .list-menu-ft>li .title-ft {
        margin-bottom: 0 !important;
        font-size: 15px !important;
        line-height: 30px;
    }
    .image-ft {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .list-menu-ft>li {
        margin-bottom: 5px;
    }
    .list-menu-ft>li .title-ft {
        margin-bottom: 0 !important;
        font-size: 16px;
    }
    .image-ft {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .image-ft {
        margin-bottom: 10px !important;
    }
    .list-menu-ft>li .title-ft {
        margin-bottom: 0 !important;
    }
}

.upper-footer {
    background: #21242b;
    padding: 20px 0;
}

.content-upper-ft {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.copyright {
    font-size: 14px;
}

.list-social {}

.list-social>li {
    display: inline-block;
    margin-right: 10px;
}

.list-social>li:last-child {
    margin-right: 0;
}

.list-social>li .social {
    color: #ffffff;
    transition: .4s;
}

.list-social>li .social i {
    font-size: 22px;
}

.list-social>li .social img {
    margin-top: -5px;
}

.list-social>li:hover .social {
    color: #ff94cf;
    transition: .5s;
}

.wp-social {}

@media (max-width: 575px) {
    .content-upper-ft {
        text-align: center;
        display: block !important;
    }
    .content-upper-ft .copyright {
        margin-bottom: 10px;
    }
}


/*******************************/

.pc-header.scroll+.pt-header {
    padding-top: 110px;
}

.item-slide .img-thumb {}

.item-slide .img-thumb .item-slide-banner {
    height: 500px;
    overflow: hidden;
    display: inline-block;
}

.item-slide-banner>img {}

.info-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-banner {
    background: #000000;
    opacity: .8;
    padding: 30px;
}

.overlay-banner .title {
    font-size: 30px;
    font-weight: 600;
}

.overlay-banner .subtitle {
    font-size: 25px;
    font-weight: 500;
}

.overlay-banner .text {
    line-height: 22px;
    margin-bottom: 10px;
}

.overlay-banner .text>h3 {
    font-size: 22px;
}

.overlay-banner .subtitle>p {
    font-size: 16px;
    font-weight: normal;
}

@media (max-width: 575px) {
    .overlay-banner .subtitle>h3 {
        font-size: 15px;
    }
    .overlay-banner .subtitle>p {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .overlay-banner .subtitle>h3 {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .overlay-banner .subtitle>h3 {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .overlay-banner .subtitle>h3 {
        font-size: 25px;
    }
}

.overlay-banner .readmore {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #fff;
    transition: .4s;
    font-size: 16px;
}

.overlay-banner .readmore:hover {
    background: #ff94cf;
    color: #fff;
    transition: .4s;
}

@media (max-width: 575px) {
    .item-slide .img-thumb .item-slide-banner {
        height: 250px;
    }
    .overlay-banner .title {
        font-size: 20px;
    }
    .overlay-banner .subtitle {
        font-size: 15px;
    }
    .overlay-banner .readmore {
        font-size: 14px;
    }
    .pc-header.scroll+.pt-header {
        padding-top: 70px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .item-slide .img-thumb .item-slide-banner {
        height: 300px;
        overflow: hidden;
    }
    .overlay-banner .title {
        font-size: 25px;
    }
    .overlay-banner .subtitle {
        font-size: 18px;
    }
    .overlay-banner .readmore {
        font-size: 14px;
    }
    .pc-header.scroll+.pt-header {
        padding-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .overlay-banner .title {
        font-size: 35px;
        height: 50px;
        overflow: hidden;
    }
    .overlay-banner .subtitle {
        font-size: 25px;
    }
    .overlay-banner .readmore {
        font-size: 15px;
    }
    .item-slide .img-thumb .item-slide-banner {
        height: 400px;
        overflow: hidden;
    }
    .pc-header.scroll+.pt-header {
        padding-top: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .item-slide .img-thumb .item-slide-banner {
        height: 450px;
        overflow: hidden;
    }
    .pc-header.scroll+.pt-header {
        padding-top: 100px;
    }
}


/**************************/

.services-sakura {}

.panel-head-services {
    background: #ffbae0;
    border-bottom: 7px solid #ff94cf;
}

.item-services-sakura {
    max-height: 100%;
    padding: 30px 0;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.item-services-sakura::before {
    position: absolute;
    content: '';
    display: none;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background: #db67a7;
}

.item-services-sakura .img-thumb {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

.item-services-sakura .img-services img {
    border-radius: 50%;
    background: #db67a7;
    padding: 5px;
    height: 60px;
    width: 100%;
    min-width: 60px;
    max-width: 60px;
}

.item-services-sakura .text {
    color: #db67a7;
    transition: .4s;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    .item-services-sakura .text {
        -ms-flex-align: center!important;
        align-items: center!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

.item-services-sakura:hover .img-services img,
.item-services-sakura.active .img-services img {
    background: #FFFFFF;
    transition: .4s;
}

.item-services-sakura.active::before,
.item-services-sakura:hover::before {
    display: block;
}

.item-services-sakura.active .text,
.item-services-sakura:hover .text {
    color: #ffffff;
    transition: .4s;
}

.show-panel-body {
    height: 480px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .show-panel-body {
        height: auto !important;
    }
}

.show-panel-body .info {
    padding: 70px;
}

.show-panel-body .info .title-body-services {
    margin-bottom: 10px
}

.show-panel-body .info .intro {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.show-panel-body .info .view {
    text-align: center;
}

.show-panel-body .info .view-more {
    text-transform: uppercase;
    transition: .4s;
    border: 1px solid #ff94cf;
    color: #ff94cf;
}

.show-panel-body .info .view-more:hover {
    background: #212529;
    transition: .4s;
    color: #fff;
}

.show-panel-body .img-thumb {}

.item-services-sakura.active .show-panel-body {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@media (max-width: 575px) {
    .show-panel-body .info {
        padding: 20px;
    }
    .show-panel-body .info>p:nth-child(4) {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .item-services-sakura {
        padding: 15px 0;
        display: block !important;
        text-align: center;
    }
    .item-services-sakura .text {
        font-size: 12px;
        text-align: center;
    }
    .item-services-sakura .img-thumb {
        margin-bottom: 10px;
    }
    .panel-head-services {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .panel-head-services .panel-head-commit {
        width: 500px;
    }
    .show-panel-body .info .intro {
        text-align: justify;
    }
    .item-services-sakura .img-services img {
        height: 40px;
        min-width: 40px;
        max-width: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .show-panel-body .info {
        padding: 30px;
    }
    .mobile-panel-head-services {
        padding: 20px 0;
    }
    .item-services-sakura {
        padding: 20px 0;
        display: block !important;
        text-align: center;
    }
    .item-services-sakura .text {
        font-size: 13px;
        text-align: center;
    }
    .item-services-sakura .img-thumb {
        margin-bottom: 10px;
    }
    .item-services-sakura .img-services img {
        height: 50px;
        min-width: 50px;
        max-width: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mobile-panel-head-services {
        padding: 30px 0;
    }
    .show-panel-body .info {
        padding: 30px;
    }
    .item-services-sakura {
        padding: 30px 0;
        display: block !important;
        text-align: center;
    }
    .item-services-sakura .text {
        font-size: 17px;
        text-align: center;
    }
    .item-services-sakura .img-thumb {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wp-info-service {
        padding-right: 0 !important;
        text-align: justify;
        background: #fafafa;
    }
    .wp-thumb-service {
        padding-left: 0 !important;
    }
    .show-panel-body .info {
        padding: 50px;
    }
    .item-services-sakura .text {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .wp-info-service {
        padding-right: 0 !important;
        text-align: justify;
        background: #fafafa;
    }
    .wp-thumb-service {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .item-services-sakura .img-thumb {
        padding-right: 0 !important;
    }
}


/******************************/

.panel-head-general {}

.panel-head-general .heading-2 {
    margin-bottom: 30px;
    font-weight: bold;
}

@media (max-width: 575px) {
    .panel-head-general .heading-2 {
        margin-bottom: 15px;
    }
    .item-experience-sakura .img-thumb {
        margin-bottom: 3px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .panel-head-general .heading-2 {
        margin-bottom: 20px;
    }
    .item-experience-sakura .img-thumb {
        margin-bottom: 3px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .panel-head-general .heading-2 {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 1199px) {
    .item-experience-sakura .img-thumb {
        padding-right: 0 !important;
    }
}

.panel-head-general .rule {
    width: 50px;
    height: 5px;
    text-align: center;
    margin: auto;
    background: #ff94cf;
}

.panel-head-general .intro {
    margin-top: 15px
}

.panel-body-travel-package {}

.panel-body-travel-package .list {}

.panel-body-travel-package .list>li {
    padding: 15px 15px;
}

.article-travel-package {
    position: relative;
}

.article-travel-package .img-thumb {
    position: relative;
    border: 1px solid #f1f1f1;
}

.article-travel-package .img-thumb::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
    opacity: .5;
    background: #000000;
}

.article-travel-package .img-thumb .image {
    height: 260px;
    overflow: hidden;
    display: block;
}

.article-travel-package .img-thumb .image>img {
    overflow: hidden;
    transition: .6s;
}

.article-travel-package .info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 10px;
}

.article-travel-package .info .meta {
    color: #fff;
    font-size: 12px;
}

.article-travel-package .info .title {
    color: #fff;
    font-size: 15px;
}

.article-travel-package .info .title a {
    color: #ffffff;
    font-weight: bold;
}

.article-travel-package .info .title a:hover {
    /*text-decoration: underline;*/
}

.article-travel-package .info .view {}

.article-travel-package .info .view .view-more {
    color: #fff;
    border: 1px solid #fff;
    padding: 3px 20px 5px 20px;
}

.article-travel-package .info .view .view-more:hover {
    background: #fff;
}

.article-travel-package:hover .img-thumb .image>img {
    transform: scale(1.2);
    overflow: hidden;
    transition: .6s;
}

.article-travel-package:hover .img-thumb::before {
    transition: .8s;
}

.article-travel-package:hover .info {
    background: #0000008f;
}

.article-travel-package .info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 10px;
}

.article-travel-package:hover .info .view .view-more {
    background: #ff94cf;
    color: #fff;
}

@media (max-width: 575px) {
    .article-travel-package .img-thumb .image {
        height: 220px;
    }
    .panel-body-travel-package .list>li {
        padding: 5px 10px;
    }
    .panel-head-general {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .article-travel-package .img-thumb .image {
        height: 220px;
    }
    .article-travel-package .info .meta {
        font-size: 13px;
    }
    .panel-body-travel-package .list>li {
        padding: 10px;
    }
    .panel-head-general {
        margin-bottom: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .panel-head-general {
        margin-bottom: 20px !important;
    }
}


/*****************************/

.article-guide-points {
    background: #eeeeee;
    padding: 5px;
    transition: 1s;
    max-height: 100%;
}

.article-guide-points .img-thumb {}

.article-guide-points .img-thumb .image {
    height: 170px;
    overflow: hidden;
}

.article-guide-points .img-thumb .image>img {
    width: 100%;
    height: 100%;
    /*max-width: 160px;*/
    /*max-height: 170px;*/
    transition: .5s;
}

.article-guide-points:hover .img-thumb .image>img {
    transform: scale(1.2);
    overflow: hidden;
    transition: .5s;
}

.article-guide-points .info {
    background: #eeeeee;
    padding: 10px;
    transition: .5s;
}

.article-guide-points .info .title {
    height: 25px;
    overflow: hidden;
}

.article-guide-points .info .title>a {
    color: #414042;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-guide-points .info .intro {}

.article-guide-points .info .intro .text {
    font-size: 14px;
}

.article-guide-points .info .intro .wrap-icon {
    position: relative;
    display: inline-block;
    line-height: 20px;
}

.article-guide-points .info .intro .icon {}

.article-guide-points .info .intro .icon-back {
    display: block;
}

.article-guide-points .info .intro .icon-color {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.article-guide-points:hover {
    background: #ff94cf;
    transition: .7s;
}

.article-guide-points:hover .info {
    background: #21242b;
    transition: .5s;
}

.article-guide-points:hover .info .title>a {
    color: #ff94cf;
}

.article-guide-points:hover .info .intro .text {
    color: #fff;
}

.article-guide-points:hover .info .intro .icon-back {
    display: none;
}

.article-guide-points:hover .info .intro .icon-color {
    opacity: 1;
    visibility: visible;
}

.panel-body-guide-points {}

.panel-body-guide-points .list {}

.panel-body-guide-points .list>li {
    padding: 10px;
}

@media (max-width: 575px) {
    .panel-body-guide-points .list>li {
        padding: 5px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .panel-body-guide-points .list>li {
        padding: 2px;
    }
}


/*****************************/

.item-experience-sakura {
    max-height: 100%;
    padding: 10px;
    transition: .6s;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.item-experience-sakura::before {
    content: '\f0d7';
    display: none;
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    bottom: -25px;
    left: 45%;
    font-size: 30px;
    font-weight: 900;
    color: #ff94cf;
    transition: .6s;
}

.item-experience-sakura .img-thumb {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.item-experience-sakura .img-thumb .img-experience img {
    filter: grayscale(1);
}

.active .item-experience-sakura .img-thumb .img-experience img,
.item-experience-sakura:hover .img-thumb .img-experience img {
    filter: grayscale(0);
}

.item-experience-sakura .img-thumb .img-color {
    display: none;
}

.item-experience-sakura .text {
    color: #8d8d8e;
}

.item-experience-sakura.active,
.item-experience-sakura:hover {
    background: #ff94cf;
    transition: .6s;
}

.item-experience-sakura.active::before,
.item-experience-sakura:hover::before {
    display: block;
    transition: .6s;
}

.item-experience-sakura.active .img-thumb .img-color,
.item-experience-sakura:hover .img-thumb .img-color {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.item-experience-sakura.active .text,
.item-experience-sakura:hover .text {
    color: #ffffff;
}

.list-head-experience {}

.list-head-experience>li {
    padding: 0 5px;
}

.list-head-experience>li:last-child {
    padding: 0 15px 0 5px;
}

.list-head-experience>li:first-child {
    padding: 0 5px 0 15px;
}

.big-news-experience {
    position: relative;
}

.big-news-experience .img-thumb {}

.big-news-experience .img-thumb>img {
    max-height: 390px;
}

@media (max-width: 575px) {
    .big-news-experience .img-thumb>img {
        max-height: 200px;
    }
}

.big-news-experience .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    opacity: .7;
    background: #000000;
}

.big-news-experience .info .title-address {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.big-news-experience .info .intro {
    color: #fff;
}

.wp-thumb-experience {}

.wp-thumb-experience .list {}

.wp-thumb-experience .list>li {
    margin-bottom: 30px;
}

.wp-thumb-experience .list>li:nth-child(4),
.wp-thumb-experience .list>li:nth-child(3) {
    margin-bottom: 0px;
}

.wp-thumb-experience .list>li div {
    position: relative;
}

.wp-thumb-experience .list>li div img {
    height: 100%;
    max-height: 180px;
}

.wp-thumb-experience .list>li div p {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    opacity: .7;
    background: #000000;
}

.wp-thumb-experience .list>li .img-thumb::after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000091;
}

.overlay-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-video .img-video {
    height: 40px;
}

@media (max-width: 480px) {
    .panel-head-experience .list-head-experience {
        width: 500px;
    }
    .panel-head-experience {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media (max-width: 575px) {
    .wp-thumb-experience .list>li:nth-child(3),
    .wp-thumb-experience .list>li,
    .wp-info-experience {
        margin-bottom: 10px;
    }
    .list-head-experience>li {
        margin-bottom: 20px;
    }
    .item-experience-sakura {
        padding: 5px !important;
    }
    .panel-head-experience.mb-4 {
        margin-bottom: 5px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .wp-thumb-experience .list>li,
    .wp-info-experience {
        margin-bottom: 20px;
    }
    .wp-thumb-experience .list>li {
        padding: 0 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wp-info-experience {
        margin-bottom: 30px;
    }
}

@media (max-width: 1199px) {
    .item-experience-sakura {
        display: block !important;
        text-align: center;
    }
    .item-experience-sakura .img-thumb {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .item-experience-sakura {
        padding: 20px;
    }
}


/************************************/

.form-sakura {}

.form-sakura .form-group-sakura {
    margin-bottom: 30px
}

.form-sakura .form-group-sakura .input-text {
    height: 50px;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #e1e1e1;
}

.form-sakura .form-group-sakura .textarea {
    background: #fafafa;
    border: 1px solid #e1e1e1;
    height: 211px;
}

.form-sakura .form-group-sakura .btn-submit {
    background: #ff94cf;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
    margin-top: -4px;
}

.form-sakura .form-group-sakura .btn-submit:hover {
    background: #414042;
    transition: .5s;
}

.panel-head-travel-package {
    margin-bottom: 20px;
}

.content-request-quote {
    margin-bottom: 60px;
}

@media (max-width: 575px) {
    .form-sakura .form-group-sakura {
        margin-bottom: 10px
    }
    .content-request-quote {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content-request-quote {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-request-quote {
        margin-bottom: 40px;
    }
}

.btn-detail {
    background: #ff94cf;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    transition: .5s;
    font-weight: 500;
}

.btn-detail:hover {
    background: #414042;
    color: #FFFFFF;
    transition: .5s;
}

.content-about-campany {
    text-align: center;
}

.content-about-campany h1 {
    color: #ff94cf;
    text-transform: uppercase;
    font-size: 25px;
}

@media (max-width: 575px) {
    .content-about-campany h1 {
        font-size: 18px
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content-about-campany h1 {
        font-size: 20px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-about-campany h1 {
        font-size: 22px
    }
}

.name-company-sakura {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-toppage {
    width: 50px;
}

@media (max-width: 575px) {
    .btn-toppage {
        width: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .btn-toppage {
        width: 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-toppage {
        width: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .btn-toppage {
        width: 45px;
    }
}


/********************************* END index.css ******************************/


/********************************* START camnangdulich.css ******************************/

.panel-body-travel-guide {}

.panel-body-travel-guide .list {}

.panel-body-travel-guide .list>li {
    margin-bottom: 30px;
}

.article-travel-guide {}

.article-travel-guide .img-thumb {}

.article-travel-guide .img-thumb>a {
    height: 220px;
    display: block;
}

.reviews .article-travel-guide .img-thumb img,
.blog-category .article-travel-guide .img-thumb img {
    object-fit: cover;
    height: 100%;
}

.detail-article-travel-guide .article-travel-guide h3 {
    font-size: 20px;
    font-weight: bold;
}

.article-travel-guide .info .title {
    text-transform: uppercase;
}

.article-travel-guide .info .title>a {}

.article-travel-guide .info .title>a:hover {
    text-decoration: underline;
}

.article-travel-guide .info .meta-date {
    font-size: 15px;
    color: #414042;
    font-weight: 600;
}

.article-travel-guide .info .rule {
    border-bottom: 1px solid #d7d7d7;
    margin: 10px 0;
}

.article-travel-guide .info .intro {
    /* color: #414042; */
    text-align: justify;
}

.article-travel-guide .info .view {
    margin-top: 10px;
}

.article-travel-guide .info .view .view-more {
    display: inline-block;
    border: 1px solid #ff94cf;
    color: #ff94cf;
    transition: .5s;
}

.article-travel-guide .info .view .view-more:hover {
    background: #414042;
    color: #ffffff;
    transition: .5s;
}

@media (max-width: 575px) {
    .article-travel-guide .img-thumb {
        height: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .article-travel-guide .info .intro {
        margin-bottom: 10px;
    }
    .article-travel-guide .info .title {
        margin-bottom: 5px;
    }
    .article-travel-guide .info .rule {
        margin: 7px 0;
    }
    .article-travel-guide .info .view .view-more {
        padding: 5px 20px;
    }
}


/********************************* END camnangdulich.css ******************************/


/********************************* START chitietgoi.css ******************************/

.breadcrumb-sakura {
    margin-bottom: 15px;
}

.breadcrumb-sakura>li {
    display: inline;
}

.breadcrumb-sakura>li a {
    position: relative;
    display: block;
    padding-right: 15px;
    margin-right: 15px;
    color: #414042;
}

.breadcrumb-sakura>li a::before {
    position: absolute;
    content: '\f054';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    top: 5px;
    right: 0;
    color: #898989;
}

.breadcrumb-sakura>li:last-child a::before {
    display: none;
}

.breadcrumb-sakura>li:last-child a,
.breadcrumb-sakura>li:hover a,
.breadcrumb-sakura>li:hover a::before {
    color: #ff94cf;
}

.package-details-sakura {
    background: #fafafa;
}

.product.package-details-sakura {
    padding-top: 0;
}

.panel-head-package-details {
    background: #ff94cf;
    padding: 10px 20px;
}

.product .panel-head-package-details {
    padding: 15px 20px;
}

.panel-head-package-details .address {
    color: #ffffff;
}

.product .panel-head-package-details .address {
    font-size: 14px;
    font-weight: 600;
    /* text-transform: lowercase; */
}

.panel-head-package-details .premium-package>span {
    color: #ffffff;
}

.panel-head-package-details .premium-package .text {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.panel-body-package-details {}

.panel-body-package-details .img-thumb {
    overflow: hidden;
    height: 100%;
}

.panel-body-package-details .img-thumb>img {
    /*height: 100%;*/
    width: 100%;
}


/*product detail*/

.product-images {
    text-align: center;
    display: block;
}

.product-images .image-preview {
    text-align: center;
}

.product-images .preview-thumbs {
    margin: 0px;
}

.product-images .image-zoom:hover img {
    border-color: #ebebeb;
}

.product-images img {
    width: 100%;
    max-height: 100%;
    border: 2px solid transparent;
    height: 300px;
    object-fit: cover;
}

.product-images img.active {
    border-color: #ebebeb;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.product-images .thumb-addition {
    height: 100px;
}

.product-images.style-left .image-preview {
    order: 2;
    margin-left: 30px;
}

.product-images.style-left .preview-thumbs {
    order: 1;
}

.product-images.style-right {
    justify-content: space-between;
}

.product-images.style-right .image-preview {
    order: 1;
}

.product-images.style-right .preview-thumbs {
    order: 2;
}

.product-images.style-top {
    flex-flow: row wrap;
}

.product-images.style-top .image-preview {
    order: 2;
}

.product-images.style-top .preview-thumbs {
    order: 1;
    display: flex;
    flex-flow: row wrap;
}

.product-images.style-top .thumb-addition {
    margin-bottom: 10px;
}

.product-images.style-bottom {
    flex-flow: row wrap;
}

.product-images.style-bottom .image-preview {
    order: 1;
}

.product-images.style-bottom .preview-thumbs {
    order: 2;
    display: flex;
    flex-flow: row wrap;
}

.product-images.style-one {
    flex-direction: column;
}

.product-images.style-one .image-preview {
    display: none;
}

.product-images.style-one .thumb-addition {
    height: inherit;
}

.product-images.style-two {
    flex-direction: column;
}

.product-images.style-two .image-preview {
    display: none;
}

.product-images.style-two .preview-thumbs {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.product-images.style-two .preview-thumbs .thumb-addition {
    height: auto;
    width: 50%;
}

.product-images.style-two .preview-thumbs .thumb-addition:first-child {
    width: 100%;
}

.product-images .thumb-addition {
    position: relative;
    display: block;
    float: left;
}

.product-images .thumb-addition:hover .btn-gallery {
    display: block;
}

.product-images .btn-gallery {
    display: none;
    position: absolute;
    height: 20px;
    text-align: center;
    width: 20px;
    line-height: 20px;
    background: #f07f81;
    color: #FFF;
    bottom: 0px;
    left: 30px;
    font-size: 7px;
}

.product-images.style-left .swiper-container,
.product-images.style-right .swiper-container {
    height: 340px;
}

.product-images.style-top .swiper-container,
.product-images.style-bottom .swiper-container {
    width: 440px;
}

#product-preview .col-list-thumb {
    float: left;
    max-height: 95px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#product-preview .wrap-thumb {
    cursor: pointer;
    width: 85px;
    height: 85px;
    float: left;
    margin-top: 7px;
    border: 1px solid #cccccc;
    line-height: 0;
    margin-right: 3px;
    position: relative;
}

#product-preview .col-big-img {
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    cursor: pointer;
    float: none;
}

@media (max-width: 575px) {
    #product-preview .col-big-img {
        max-height: 200px;
    }
}

@media (min-width: 576px) and (max-width: 1199px) {
    #product-preview .col-big-img {
        max-height: 225px;
    }
}

#product-preview .col-list-thumb img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#product-preview .col-big-img .image {
    position: relative;
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    border: 0 solid #ebeef2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.col-list-thumb .btn-slide-thumbs {
    cursor: pointer;
    position: absolute;
    background: #dedede;
    width: 25px;
    right: 0px;
    font-size: 18px;
    height: 85px;
    padding-top: 27px;
    float: left;
    text-align: center;
    display: none;
    margin-top: 7px;
}

.info-package-details {}

.info-package-details .list-info {}

.info-package-details .list-info>li {
    margin-bottom: 10px !important;
}

.wp-item-package-details {}

.wp-item-package-details .icon {
    padding-right: 10px;
}

.wp-item-package-details .text {}

.list-info {
    padding: 30px;
    background: #ffffff;
}

.wp-rating {
    display: flex;
    padding: 30px;
}

.list-rate {
    margin-right: 20px
}

.list-rate>li {
    display: inline-block;
}

.list-rate>li>i {
    color: #ff94cf;
    font-size: 14px;
}

.wp-book {
    padding: 30px;
    background: #ffffff;
}

.book-now {
    border: 2px solid #ff94cf;
}

.book-now .money {
    padding: 10px 0;
    display: block;
}

.book-now .book {
    display: block;
    background: #ff94cf;
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
}

.book-now .book:hover {
    background: #f04499;
}

@media (max-width: 480px) {
    .panel-head-package-details {
        display: inherit !important;
    }
    .panel-head-package-details .address {
        margin-bottom: 10px;
    }
}

@media (max-width: 575px) {
    .wp-rating,
    .breadcrumb-sakura {
        display: inherit !important;
    }
    .breadcrumb-sakura>li {
        display: inline-block;
    }
    .list-rate {
        margin-bottom: 5px;
    }
    .wp-book,
    .wp-rating,
    .list-info {
        padding: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .pr-package-details-0 {
        padding-right: 0 !important;
    }
    .pl-package-details-0 {
        padding-left: 0 !important;
    }
}

@media (min-width: 1200px) {
    .pr-package-details-0 {
        padding-right: 0 !important;
    }
    .pl-package-details-0 {
        padding-left: 0 !important;
    }
}

.panel-head-program-tour {
    margin-bottom: 30px;
}

.panel-head-program-tour .intro {
    text-align: justify;
    line-height: 22px;
}

.tab-program-tour {}

.tab-program-tour .list {
    border-bottom: 3px solid #ff94cf;
}

.tab-program-tour .list>li .tab {
    background: #c3c2c2;
    padding: 15px 20px 15px 60px;
    color: #ffffff;
    position: relative;
}

.tab-program-tour .list>li.active .tab {
    background: #ff94cf;
}

.tab-program-tour .list>li .tab::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -27px;
    width: 0;
    height: 0;
}

.tab-program-tour .list>li .tab::before {
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 30px solid #ffffff;
    z-index: 99;
}

.tab-program-tour .list>li .tab::before {
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 30px solid #ffffff;
    z-index: 99;
}

.tab-program-tour .list>li+li:last-child .tab::after {
    border-top: 29px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 30px solid #c3c2c2;
    z-index: 99;
}

.tab-program-tour .list>li .tab::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 30px solid #c3c2c2;
    z-index: 99;
}

.tab-program-tour .list>li.active .tab::before {
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 33px solid #ff94cf;
    z-index: 100;
    right: -28px;
}

.content-tab-program-tour {
    padding: 30px 50px;
    background: #fafafa;
}

@media (max-width: 575px) {
    .content-tab-program-tour {
        padding: 20px;
    }
    .tab-program-tour .list>li .tab {
        padding: 10px
    }
    .tab-program-tour .list>li.active .tab::before,
    .tab-program-tour .list>li .tab::after,
    .tab-program-tour .list>li .tab::before {
        display: none;
    }
    .tab-program-tour .list>li .tab {
        padding: 10px;
        border-right: 2px solid;
    }
    .tab-program-tour {
        overflow-x: auto;
    }
    .tab-program-tour .list {
        width: 500px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content-tab-program-tour {
        padding: 20px;
    }
    .tab-program-tour .list>li .tab {
        padding: 15px 10px
    }
    .tab-program-tour .list>li.active .tab::before,
    .tab-program-tour .list>li .tab::after,
    .tab-program-tour .list>li .tab::before {
        display: none;
    }
    .tab-program-tour .list>li .tab {
        padding: 15px 10px;
        border-right: 3px solid;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-tab-program-tour {
        padding: 25px 40px;
    }
}

.detail-information-sakura {
    text-align: justify;
    margin-top: 30px;
}

.rule-detail {
    border-bottom: 5px solid #ff94cf;
}

.wp-big-info-tour {}

.wp-big-info-tour .item {
    padding: 20px;
    border: 1px solid #ececec;
    height: 100%;
}

.panel-body-detail-tour {}

.panel-body-detail-tour .name-info-tour {}

.panel-body-detail-tour .name-info-tour .icon {
    padding-right: 10px;
}

.panel-body-detail-tour .name-info-tour .text {}

.mb-30 {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .wp-big-info-tour .item {
        text-align: justify !important;
        padding: 10px 30px;
    }
    .mb-30 {
        margin-bottom: 15px;
    }
    .logo-head-about>img {
        height: 100px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .wp-big-info-tour .item {
        text-align: justify !important;
        padding: 10px 30px;
    }
    .wp-big-info-tour {
        margin-bottom: 30px;
    }
    .mb-30 {
        margin-bottom: 20px;
    }
    .logo-head-about>img {
        height: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo-head-about>img {
        height: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo-head-about>img {
        height: 170px;
    }
}

.big-wp-open-letter {
    padding-top: 70px;
}

.panel-head-open-letter {
    background: #fafafa;
}

.info-founder-sakura {
    text-align: justify;
}

.info-founder-sakura .name-founder {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.info-founder-sakura .intro-founder {
    text-transform: uppercase;
    font-weight: 600;
}

.bg-flower-sakura {
    background: url(../../images/source/bg-flower-sakura.png) no-repeat bottom center;
    background-size: 100%;
}

@media (max-width: 575px) {
    .bg-flower-sakura {
        background: none;
    }
    .wp-body-open-letter .img-thumb,
    .panel-head-open-letter {
        padding-bottom: 30px;
    }
    .info-founder-sakura {
        text-align: center;
    }
    .big-wp-open-letter {
        padding-top: 30px;
    }
    .info-founder-sakura .name-founder {
        font-size: 17px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bg-flower-sakura {
        background: none;
    }
    .wp-body-open-letter .img-thumb,
    .panel-head-open-letter {
        padding-bottom: 30px;
    }
    .info-founder-sakura {
        text-align: center;
    }
    .big-wp-open-letter {
        padding-top: 30px;
    }
    .info-founder-sakura .name-founder {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .big-wp-open-letter {
        padding-top: 50px;
    }
    .info-founder-sakura .name-founder {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}


/********************************* END chitietgoi.css ******************************/


/********************************* START dulichhoctap.css ******************************/

.item-services-sakura.order-tour {
    background: #ff94cf;
    padding: 20px
}

.content-news .intro {
    text-align: left;
}

.item-services-sakura.order-tour .text-title {
    color: #ffffff;
}

.item-services-sakura.order-tour::before {
    position: absolute;
    content: '';
    display: none;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: #db67a7;
    opacity: .7;
    z-index: 2;
}

.item-services-sakura.order-tour.active::before,
.item-services-sakura.order-tour:hover::before {
    display: block;
}

.item-function-tab {
    border-radius: 20px;
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid #212529; */
    /* padding: 10px 5px; */
    /* margin-right: 5px; */
}

.item-function-tab .item {
    font-weight: 600;
    color: #212529;
    width: 100%;
    padding: 10px 5px;
    height: auto;
    border: 1px solid #212529;
    border-radius: 20px;
}

.item-function-tab.open,
.item-function-tab .item:hover {
    border: 1px solid #ff94cf;
}

.item-function-tab.open .item,
.item-function-tab:hover .item {
    color: #ff94cf;
}


/* .big-function-sakura .wrap-item-function {
    width: 100%;
} */

.services-sakura .inner .content-custom {
    text-align: justify;
    overflow: hidden;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;
}

.services-sakura .inner.expanded .content-custom {
    height: auto !important;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;
}


/* .big-function-sakura .wrap-item-function {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 10px;
} */


/* @media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .big-function-sakura .wrap-item-function {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        padding: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
} */

.services-sakura .inner.expanded .more-text {
    display: none;
}

.services-sakura .btn--view-more-fb .less-text {
    display: none;
}

.services-sakura .inner.expanded .less-text {
    display: block;
}

.panel-head-commit>li {
    display: flex;
}

@media (max-width: 575px) {
    .item-services-sakura.order-tour .img-services img {
        height: 30px;
    }
    .item-services-sakura.order-tour::before {
        left: 5px;
        right: 5px;
    }
    .panel-head-commit>li {
        padding: 0 5px;
    }
    .item-services-sakura.order-tour {
        padding: 10px 5px;
    }
    .banner-sakura .img-thumb .image>img {
        height: 180px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .item-services-sakura.order-tour .img-services img {
        height: 40px;
    }
    .item-services-sakura.order-tour::before {
        left: 5px;
        right: 5px;
    }
    .panel-head-commit>li {
        padding: 0 5px;
    }
    .banner-sakura .img-thumb .image>img {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .item-services-sakura.order-tour .img-services img {
        height: 50px;
    }
    .item-services-sakura.order-tour::before {
        left: 10px;
        right: 10px;
    }
    .panel-head-commit>li {
        padding: 0 10px;
    }
    .banner-sakura .img-thumb .image>img {
        height: 300px;
    }
}

.big-function-sakura {
    background: #fafafa;
}

.item-function .funtion .image {
    margin-bottom: 10px;
}

.item-function .funtion .text {
    font-weight: 600;
    color: #212529;
    white-space: nowrap;
}

.swiper-button-next.btn-next,
.swiper-button-prev.btn-prev {
    background: none;
    outline: none;
}

.article-sakura {
    background: #fafafa;
    padding: 20px;
    transition: .2s;
}

.article-sakura:hover {
    -webkit-box-shadow: 0px 0px 15px #8080804a;
    box-shadow: 0px 0px 10px #8080804a;
    transition: .3s;
}

.article-sakura .img-thumb {}

.article-sakura .img-thumb .image {
    display: block;
    height: 170px;
    overflow: hidden;
}

.article-sakura .img-thumb .image>img {
    width: 100%;
    object-fit: cover;
}

.article-sakura .info {}

.article-sakura .info>a {
    color: #21242b;
    display: block;
}

@media (max-width: 575px) {
    .article-sakura .info>a .title-package {
        font-size: 12px;
    }
}

.article-sakura .info .name-package {
    float: right;
    margin-bottom: 10px
}

.article-sakura .info .name-package .text {
    text-decoration: underline;
}

.wp-rating.rate-package {
    padding: 0
}

.wp-price .price {
    font-size: 24px;
    font-weight: bold;
    float: right;
}

.wp-view-package .view-more-package {
    border: 1px solid #ff94cf;
    color: #ff94cf;
    padding: 5px 25px;
    transition: .5s;
    float: right;
}

.wp-view-package .view-more-package:hover {
    background: #4a4a4a;
    color: #ffffff;
    transition: .5s;
}

.article-sakura .info .title-package {
    font-weight: 600;
    text-transform: uppercase;
}

.detail-article-travel-guide {
    margin-top: 30px;
}

@media (max-width: 575px) {
    .detail-article-travel-guide {
        margin-top: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .detail-article-travel-guide {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .detail-article-travel-guide {
        margin-top: 25px;
    }
}

.info-package .wp-item-package-details {
    margin-bottom: 5px;
}

.content-hot-package .view .view-more {
    background: #ff94cf;
    padding: 10px 50px;
    color: #ffffff;
    transition: .5s;
}

.content-hot-package .view .view-more:hover {
    background: #4a4a4a;
    transition: .5s;
}

.panel-body-hot-package .list>li {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .article-sakura .img-thumb .image>img {
        height: 200px;
    }
    .article-sakura .img-thumb {
        margin-bottom: 15px;
    }
    .wp-view-package .view-more-package,
    .wp-price .price,
    .article-sakura .info .name-package {
        float: none;
    }
    .wp-sakura {
        margin-top: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .article-sakura .img-thumb .image>img {
        height: 200px;
    }
    .article-sakura .img-thumb {
        margin-bottom: 20px;
    }
    .wp-view-package .view-more-package,
    .wp-price .price,
    .article-sakura .info .name-package {
        float: none;
    }
    .wp-sakura {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .article-sakura .img-thumb .image>img {
        height: 200px;
    }
    .article-sakura .img-thumb {
        margin-bottom: 30px;
    }
    .wp-view-package .view-more-package,
    .wp-price .price,
    .article-sakura .info .name-package {
        float: none;
    }
    .wp-sakura {
        margin-top: 0;
    }
}

.banner-sakura .img-thumb .image>img {
    height: 570px;
}

.wp-button .swiper-button-next.btn-next>img,
.wp-button .swiper-button-prev.btn-prev>img {
    height: 45px;
}

@media (max-width: 575px) {
    .banner-sakura .img-thumb .image>img {
        height: 250px;
    }
    .wp-button .swiper-button-next.btn-next>img,
    .wp-button .swiper-button-prev.btn-prev>img {
        height: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner-sakura .img-thumb .image>img {
        height: 300px;
    }
    .wp-button .swiper-button-next.btn-next>img,
    .wp-button .swiper-button-prev.btn-prev>img {
        height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .banner-sakura .img-thumb .image>img {
        height: 400px;
    }
    .wp-button .swiper-button-next.btn-next>img,
    .wp-button .swiper-button-prev.btn-prev>img {
        height: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner-sakura .img-thumb .image>img {
        height: 450px;
    }
}

.panel-body-open-letter {
    font-weight: 500;
}

@media (max-width: 575px) {
    .panel-body-about-campany,
    .panel-body-open-letter {
        text-align: justify;
    }
}

.panel-head-content-news .content-news {
    display: block;
    width: 100%;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;
}

.panel-head-content-news .content-news.auto {
    height: auto;
    overflow: visible;
    display: block;
}

#readmore-detail {
    color: #212529;
    font-weight: 600;
    float: left;
}

#readmore-detail:hover {
    color: #ff94cf;
}

.icon-function-sakura {
    height: 52px;
}

@media (max-width: 575px) {
    .icon-function-sakura {
        height: 35px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .icon-function-sakura {
        height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .icon-function-sakura {
        height: 45px;
    }
}


/********************************* END dulichhoctap.css ******************************/


/********************************* START chitietcamnangdulich.css ******************************/

.wp-breadcumb {
    background: #f4f4f4;
    padding: 20px 0;
}

.product.wp-breadcumb {
    padding: 20px 0;
    margin-bottom: 0px;
}

.wp-breadcumb .list-breadcumb>li {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    font-size: 16px;
    color: #ff94cf;
}

.wp-breadcumb .list-breadcumb>li a {
    color: #414042;
}

.wp-breadcumb .list-breadcumb>li:hover::before,
.wp-breadcumb .list-breadcumb>li:hover a {
    color: #ff94cf;
}

.wp-breadcumb .list-breadcumb>li {
    padding-right: 20px;
}

.wp-breadcumb .list-breadcumb>li::before {
    position: absolute;
    content: "\f101";
    display: block;
    top: 3px;
    right: 0;
    font-family: "Font Awesome 5 Free";
    color: #414042;
    font-weight: 900;
    font-size: 14px;
}

.wp-breadcumb .list-breadcumb>li:last-child::before {
    display: none;
}

.wp-breadcumb .list-breadcumb>li:last-child>a {
    color: #ff94cf !important;
}

.article-travel-guide .info .title>a {
    color: red;
    font-weight: bold;
}


/********************************* END chitietcamnangdulich.css ******************************/


/********************************* START baogianhanh.css ******************************/

.input-text-sakura {
    border: 1px solid #e1e1e1;
    padding: 8px;
    display: block;
    width: 100%;
    line-height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.box-select {
    position: relative;
}

.box-select .input-text-sakura {}

.box-select .icon-select {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999999;
    font-size: 20px;
}

.total-money {
    background: #ff94cf;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.pd-50 {
    padding: 50px 0 40px 0;
}

@media (max-width: 575px) {
    .pd-50 {
        padding: 15px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pd-50 {
        padding: 20px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pd-50 {
        padding: 30px 0;
    }
}

.list-tourist-area .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.container.label-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.container.label-checkbox>input:checked~.checkmark {
    background-color: #ff94cf;
}

.list-tourist-area .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container.label-checkbox>input:checked~.checkmark:after {
    display: block;
}

.container.label-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container.label-checkbox input[type=checkbox] {
    display: none;
}

.list-tourist-area {
    margin-left: 30px;
}

.title-select.heading-3 {
    font-weight: 600;
}

.wp-maps>iframe {
    height: 330px;
}

@media (max-width: 575px) {
    .wp-maps>iframe {
        height: 200px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .wp-maps>iframe {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wp-maps>iframe {
        height: 280px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wp-maps>iframe {
        height: 300px;
    }
}


/********************************* END baogianhanh.css ******************************/

.input-text-sakura {
    border: 1px solid #e1e1e1;
    padding: 8px;
    display: block;
    width: 100%;
    line-height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
}

.box-select {
    position: relative;
    border: 1px solid #aaa;
}

.mine.box-select .icon-select {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #999999;
    font-size: 20px;
}


/* banner */

.theirs.total-money {
    background: #ff94cf;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.pd-50 {
    padding: 50px 0 40px 0;
}

@media (max-width: 575px) {
    .pd-50 {
        padding: 15px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pd-50 {
        padding: 20px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pd-50 {
        padding: 30px 0;
    }
}

.list-tourist-area {
    margin-left: 30px;
}

.title-select.heading-3 {
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .title-select.heading-3 {
        height: 50px;
        overflow: hidden;
    }
}

.wp-maps>iframe {
    height: 330px;
}

@media (max-width: 575px) {
    .wp-maps>iframe {
        height: 200px;
    }
    .head-BGN>h3 {
        font-size: 17px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .wp-maps>iframe {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wp-maps>iframe {
        height: 280px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wp-maps>iframe {
        height: 300px;
    }
}

.head-BGN>h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: 'Muli' !important;
}

span {
    font-family: 'Muli' !important;
}

.item-check>label {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 7px;
    padding-top: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

.item-check>label:last-child {
    padding-bottom: 7px;
}

.item-check>label+label {
    border-top: 1px solid #ffff;
}

.item-check>label>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 7px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.item-check .container input:checked~.checkmark:after {
    display: block;
}

.item-check .container .checkmark:after {
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    background: #fff;
}

.select-level-2 {
    max-width: 220px;
    max-height: 100%;
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    z-index: 10;
    padding-left: 5px;
}

.select-level-2 .item-check {
    background: #ff94cf;
    max-height: 100%;
}

@media only screen and (max-width: 991px) {
    .select-level-2 {
        position: inherit;
        max-width: 100%;
    }
    .panel-body-select .select-level-1 .list-select-area>li .item .text::before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .select-area .panel-body-select {
        margin-bottom: 40px;
    }
}

.select-area {}

.select-area.show .panel-body-select {
    display: block;
}

.select-area .panel-head-select .text {
    position: relative;
    height: 41px;
    line-height: 41px;
    border: 1px solid #aaaaaa;
    padding: 0 10px;
    color: #7e7587;
}

.select-area .panel-head-select .text::before {
    position: absolute;
    content: "\f107";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    right: 10px;
    color: #999999;
    font-size: 20px;
}

.select-area .panel-body-select {
    display: none;
    padding-top: 20px;
}

.select-area:hover .panel-body-select {
    display: block;
}

.select-area .panel-body-select::before {
    content: '';
    position: absolute;
    display: block;
    top: 50px;
    left: 50px;
    width: 25px;
    height: 10px;
    background: url('/images/icon-tour.png');
    z-index: 100;
}

.panel-body-select .select-level-1 .list-select-area>li {
    position: relative;
    padding: 7px 0;
}

.panel-body-select .select-level-1 .list-select-area>li+li {
    border-top: 1px solid #cecccc;
}

.panel-body-select .select-level-1 .list-select-area>li .item {
    padding: 0 10px;
}

.panel-body-select .select-level-1 .list-select-area>li .item .text {
    position: relative;
}

.panel-body-select .select-level-1 .list-select-area>li .item .text::before {
    position: absolute;
    content: "\f105";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    top: 0;
    right: 0;
    color: #999999;
    font-size: 18px;
}

@media (min-width: 576px) {
    .select-level-1 .list-select-area>li:hover .select-level-2 {
        display: block;
    }
    .panel-body-select .select-level-1 .list-select-area>li:hover {
        background: #ff94cf;
    }
    .panel-body-select .select-level-1 .list-select-area>li:hover .item .text::before,
    .panel-body-select .select-level-1 .list-select-area>li:hover .item .text {
        color: #fff;
    }
}

.daterangepicker.show-calendar .drp-buttons {
    display: none !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #ff94cf !important;
}

.select-area.active .panel-head-select .text {
    color: #ff94cf;
    border: 1px solid #ff94cf;
}

.select-area.active .panel-head-select .text::before {
    color: #ff94cf;
}

.select2-container--default .select2-selection--multiple {
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
    border: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff94cf !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #aaa !important;
}

.select2-container {
    width: 100% !important;
}

.input-text-sakura>option {
    padding: 8px 16px;
}

@media (max-width: 500px) {
    .MsoNormalTable {
        zoom: .6;
    }
}

@media (max-width: 575px) {
    .big-select-area .select-area.active .panel-body-select {
        display: block !important;
    }
    .big-select-area .select-area .panel-body-select {
        display: none;
    }
    .panel-body-select .select-level-1 .list-select-area>li.active {
        background: #ff94cf;
    }
    .panel-body-select .select-level-1 .list-select-area>li.active .item .text::before,
    .panel-body-select .select-level-1 .list-select-area>li.active .item .text {
        color: #fff;
    }
    .panel-body-select .select-level-1 .list-select-area>li.active .select-level-2 {
        display: block;
    }
}

.big-select-area .select-area .panel-body-select .select-level-1 {
    position: relative;
    background: #ffffff;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 1px 3px 0px #9e9595;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0px !important;
    height: 40px;
    line-height: 40px;
    padding: 20px 0 !important;
}

textarea {
    line-height: 25px !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
    padding: 20px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 10px;
}

@media only screen and (max-width: 991px) {
    .list-menu {
        padding: 10px;
        margin-top: 10px;
        border-top: 2px solid #ff94cf;
    }
    li.item-menu.active {
        border-bottom: 1px solid #cfcfcf;
        padding: 5px 10px;
        color: #ff94cf;
        border-bottom: 1px dashed #ff94cf;
        padding: 5px 0;
    }
    li.item-menu.active.open {
        border-bottom: none;
    }
    .list-menu>li.active .wrap-menu>a,
    .list-menu>li {
        border-bottom: 1px dashed #cfcfcf;
        padding: 5px 0;
    }
    .list-menu>li.active .wrap-menu>a,
    .list-menu>li.active>a {
        color: #ff94cf;
        padding: 0 0 5px 0;
        margin: 0;
        border: none;
    }
    ul.list-menu .item-menu i.fas.fa-angle-down {
        float: right;
        position: absolute;
        right: 4px;
        top: 15px;
        font-size: 15px;
    }
    .list-menu>li:last-child {
        border-bottom: 0 !important;
    }
    .list-menu>li>a,
    .list-menu>li .wrap-menu>a {
        border-bottom: 0px !important;
        padding: 2px 0;
    }
}