<template>
    <wrapper :title="$i('EditBanner')"
             sapo="">
        <div class="dn-content-left editListSlider">
            <div class="card m-b-20" v-if="this.$route.params.type == 'slider'">
                <div class="card-body">
                    <h3 class="mt-0 header-title">{{ $i('ListImage') }}</h3>
                    <div class="row mt-3">
                        <div class="col-xl-2 itemSlider" v-for="item in listImages" style="position: relative;"
                             :class="{'is-active': item.id == active}" @click="active = item.id">
                            <a href="javascript:;" @click="getDetailBannerCms(item)">
                                <photo :src="item.image" :styles="`width:100%; height:100px`" :height="100"></photo>
                            </a>
                            <i class="mdi mdi-delete" @click="deleteBannerCms(item)"></i>
                        </div>
                        <button type="button" v-on:click="addListImages" title="Add Image"
                                class="btn btn-primary addImage">
                            <i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
            <div class="card m-b-20">
                <div class="card-body">
                    <h3 class="mt-0 header-title">{{ $i('DetailImage') }}</h3>
                    <div class="row mt-5">
                        <div class="col-xl-12">
                            <photo-drag-drop :src="objData.image" v-on:change="changeImage"></photo-drag-drop>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-1">
                            <label class="tit  float-right">{{$i('Link')}}</label>
                        </div>
                        <div class="col-xl-11">
                            <input type="text" class="form-control" :placeholder="$i('Link')" v-model="objData.link"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-1">
                            <label class="tit  float-right">{{$i('Status')}}</label>
                        </div>
                        <div class="col-xl-11">
                            <select class="form-control"
                                    v-model="objData.status">
                                <option value="1">{{ $i('Active') }}</option>
                                <option value="0">{{ $i('DeActived') }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"
                                    v-for="(item, index) in activeLanguages"
                                    :key="index"
                                    @click="setActive(index)">
                                    <a class="nav-link"
                                       :class="{ 'active': activeIndex === index}">
                                        <span class="d-none d-sm-block">{{ item.name }}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" v-if="loader">
                                <div class="tab-pane p-3"
                                     v-for="(item, index) in objData.descriptions"
                                     :class="{ 'active': activeIndex === index}" :key="index">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="tit">{{$i('Title')}}</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="text" v-model="item.title"
                                                   :placehoder="$i('Title')" ref="title"
                                                   class="form-control"></input>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-12">
                                            <label class="tit">{{$i('Content')}}</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <tiny-mce v-on:change="bindData" :field="`content`"
                                                      :index="index"
                                                      :value="item.content"
                                                      :height="300"></tiny-mce>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-12">
                            <button class="btn btn-primary" v-on:click="saveBannerCms()" style="width: 80px;margin-right: 30px;">
                                <span>{{ $i('Save') }}</span>
                            </button>
                            <router-link :to="{ path: '/banner' }" class="btn btn-danger">
                                <span>{{ $i('Cancel') }}</span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </wrapper>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';

    export default {
        data() {
            return {
                objData: {
                    id: -1,
                    banner_group_id: this.$route.params.id ? this.$route.params.id : 0,
                    link: '',
                    image: '',
                    status: 1,
                    descriptions: [],
                },
                typeBannerGroup: '',
                listImages: [],
                active: null,
                activeIndex: 0,
                loader: false,
            }
        },
        components: {
            'photo-drag-drop': PhotoDragDrop
        },
        computed: {
            ...mapGetters(['activeLanguages']),
        },
        methods: {
            ...mapActions(['getListBanner', 'getDetailBannerGroup', 'getBannerByGroupId', 'getDetailBanner', 'saveBanner', 'deleteBanner', 'getActiveLanguages']),
            getDetailBannerCms(objItem) {
                if (objItem != null && objItem.id > 0) {
                    this.objData.id = objItem.id;
                    this.getDetailBanner(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.resetObjData();
                    // this.objData.descriptions = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        content: '',
                    }
                })
            },
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getBannerByGroupIdCms();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            getBannerByGroupIdCms() {
                if (this.$route.params.id > 0) {
                    this.objData.banner_group_id = this.$route.params.id;
                    this.getBannerByGroupId(this.objData).then((response) => {
                        if (response.success) {
                            this.listImages = response.data;
                            this.getDetailBannerCms(this.listImages[0]);
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            deleteBannerCms(objItem) {
                this.$confirm(this.$i('DoYouWantToDelete')).then(() => {
                    this.objData.id = objItem.id;
                    this.deleteBanner(this.objData).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.getBannerByGroupIdCms();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            saveBannerCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveBanner(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.getBannerByGroupIdCms();
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            addListImages() {
                let checkEmptyListImages = this.listImages.filter(item => item.id === -1);
                if (checkEmptyListImages.length >= 1 && this.listImages.length > 0) return
                this.listImages.push({
                    id: -1,
                    image: '',
                })
                this.resetObjData();
            },
            changeImage(src) {
                this.objData.image = src;
            },
            bindData(contents, field, obj, index) {
                this.objData.descriptions[index][field] = contents;
            },
            setActive(index) {
                this.activeIndex = index;
            },
            resetObjData() {
                return this.objData = {
                    id: -1,
                    banner_group_id: this.$route.params.id ? this.$route.params.id : 0,
                    link: '',
                    image: '',
                    status: 1,
                    descriptions: this.getLanguageIsNotDefault(),
                };
            },
        },
        created() {
            this.getActiveLanguagesCms();
        }
    }
</script>
