<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{$i('Title')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Title')" ref="title"
                           v-model="objData.title"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Page')}}</label>
                    <multiselect v-model="objData.page" :options="listPage" :multiple="true"
                                 :close-on-select="false" :clear-on-select="false"
                                 :preserve-search="true" placeholder="Choose"
                                 label="name" track-by="name" :preselect-first="true">
                    </multiselect>
                </div>
                <div class="form-group">
                    <label>{{$i('Type')}}</label>
                    <select class="form-control" v-model="objData.type">
                        <option value="slider">{{ $i('Slider') }}</option>
                        <option value="image">{{ $i('Image') }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="saveBannerGroupCms()">
                <span>{{ $i('Save') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex';
    import Multiselect from 'vue-multiselect';
    import 'vue-multiselect/dist/vue-multiselect.min.css';

    export default {
        props: ['bannerGroupId'],
        data() {
            return {
                objData: {
                    id: -1,
                    title: '',
                    page: [],
                    type: 'slider',
                    status: 1,
                },
                values: [],
                listPage: [
                    {page: 'home', name: this.$i('Home')},
                    {page: 'category', name: this.$i('Category')},
                    {page: 'information', name: this.$i('Information')},
                    {page: 'blog', name: this.$i('Blog')},
                    {page: 'reviews', name: this.$i('Reviews')},
                    {page: 'pageStatic', name: this.$i('PageStatic')},
                ],
            }
        },
        computed: {},
        components: {
            Multiselect,
        },
        watch: {},
        methods: {
            ...mapActions(['getDetailBannerGroup', 'saveBannerGroup']),
            getDetailBannerGroupCms() {
                if (this.bannerGroupId > 0) {
                    this.objData.id = this.bannerGroupId;
                    this.getDetailBannerGroup(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            saveBannerGroupCms() {
                if (!this.objData.title) {
                    this.$refs.title.focus();
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                if (this.objData.page.length == 0) {
                    return this.$message(this.$i('LabelErrorEmptyPage'), 'error');
                }
                if (this.bannerGroupId > 0) {
                    this.saveBannerGroup(this.objData).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.$emit('closePopup');
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.saveBannerGroup(this.objData).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.$emit('closePopup');
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
        },
        created() {
            this.getDetailBannerGroupCms();
        }
    }
</script>
