<template>
    <wrapper :title="$i('BannerGroupList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.title" :placeholder="$i('Keyword')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                    <input class="btn btn-primary" type="button" @click="openPopup(0)" :value="$i('Add')"/>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('Title')}}</th>
                        <th>{{$i('Type')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(banner, index) in listBannerGroup" class="post-item-group">
                        <td class="width-100">{{ index+1 + rowNum }}</td>
                        <td>
                            <a href="javascript:;" @click="openPopup(banner.id)" style="color: #0f74a8;">{{ banner.title }}</a>
                        </td>
                        <td>{{ banner.type == 'image' ? $i('Image') : $i('Slider') }}</td>
                        <td class="btn-action">
                            <router-link :to="{path: '/banner/edit/'+banner.id+'/type/'+banner.type}" class="btn btn-info"><i
                                class="mdi mdi-border-color"></i></router-link>
                            <button title="Remove" class="btn btn-danger" v-if="banner.status == 1"
                                    v-on:click="changeStatus(banner, index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary" v-on:click="changeStatus(banner, index)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="bannerGroupCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
        <modal v-if="popupEditBannerGroup" :title="$i(this.titleModal)" @close="popupEditBannerGroup = false">
            <div slot="body">
                <editBannerGroup :bannerGroupId="this.objDataUpdate.id" v-on:closePopup="closePopup()"></editBannerGroup>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editBannerGroup from './edit';

    export default {
        components: {
            editBannerGroup
        },
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    title: '',
                    position: 1,
                    type: '',
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    title: '',
                    position: 1,
                    type: '',
                    status: -1,
                },
                titleModal: '',
                popupEditBannerGroup: false,
            }
        },
        computed: {
            ...mapGetters(['listBannerGroup', 'bannerGroupCount']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListBannerGroup', 'saveBannerGroup', 'deleteBannerGroup']),
            searchData() {
                let loading = this.$loading.show();
                this.getListBannerGroup(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatus(objUpdate, index) {
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteBannerGroup(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            closePopup() {
                this.popupEditBannerGroup = false;
                this.searchData();
            },
            openPopup(id) {
                if (id > 0) {
                    this.titleModal = 'TitleEditBannerGroup';
                } else {
                    this.titleModal = 'TitleAddBannerGroup';
                }
                this.popupEditBannerGroup = true;
                this.objDataUpdate.id = id || 0;
            },
        },
        created() {
            this.searchData();
        }
    };
</script>
