﻿<template>
    <datetime v-model="date" :type="type" input-class="form-control" :format="format" :zone="zone" :placeholder="$i('SelectDate')"
              :value-zone="valueZone" :auto="true" class="input-group">
        <div class="input-group-append" slot="after"><span class="input-group-text" style="cursor: pointer;" v-on:click="deleteDateTime" v-if="value"><i class="mdi mdi-close"></i></span>
        </div>
    </datetime>
</template>
<script>
    import 'vue-datetime/dist/vue-datetime.css';
    import {Datetime} from 'vue-datetime';

    export default {
        name: 'datetimepicker',
        components: {
            datetime: Datetime
        },
        props: {
            type: {
                type: String,
                default: 'datetime'
            },
            value: {
                default: null
            },
            format: {
                type: String,
                default: 'yyyy-MM-dd HH:mm'
            },
            zone: {
                type: String,
                default: 'Asia/Tokyo'
            },
            valueZone: {
                type: String,
                default: 'Asia/Tokyo'
            }
        },
        data() {
            return {
                // date: this.value,
            }
        },
        watch: {
            date(val) {
                if (val) {
                    this.$emit('input', val);
                }
            }
        },
        computed: {
            date: {
                get(){
                    return this.value;
                },
                set(val){
                    this.$emit('input', val);
                }
            }
        },
        methods: {
            deleteDateTime() {
                this.date = null;
            },
        },
        created() {
            this.date = this.value;
        }
    }
</script>
