﻿<template>
    <div>
        <datepicker :placeholder="$i('SelectDate')" v-model="date" :format="format" :inline="inline" :bootstrap-styling="true" :language="ja"
                    :clear-button="clearButton" :use-utc="useUTC" input-class="form-control"></datepicker>
    </div>
</template>
<script>
    import DatePicker from 'vuejs-datepicker';
    import {en, ja} from 'vuejs-datepicker/dist/locale'
    export default {
        name: 'datetimepicker',
        props: {
            inline: {
                default: false,
            },
            format: {
                type: String,
                default: 'yyyy-MM-dd',
            },
            clearButton: {
                default: false,
            },
            useUTC: {
                default: false,
            },
            value:{
                type: String,
                default: new Date(),
            }
        },
        data() {
            return {
                ja: ja,
                date: this.value,
            }
        },
        watch: {
            date(val) {
                if (val) {
                    this.$emit('input', val);
                }
            }
        },
        components: {
            'datepicker': DatePicker
        },
        created() {
            this.date = this.value;
        }
    }
</script>
