﻿<template>
    <div>
        <div class="multiple-select" style="position:relative">
            <ul class="dropdown-menu" style="width:100%" v-bind:class="{'open': openSuggestion}">
                <li v-for="(suggestion, index) in matches" @click="suggestionClick(index)">
                    <span>{{ suggestion.title }}</span>
                </li>
            </ul>
            <ul class="dropdown-menu" style="width:100%"
                v-bind:class="{'open': openSuggestion}">
                <li v-for="(suggestion, index) in matches"
                    @click="suggestionClick(index)">
                    <span>{{ suggestion.title }}</span>
                </li>
            </ul>
        </div>
        <div class="product-link scroll">
            <ul>
                <li v-for="(item, index) in this.selections"
                    :key="index">
                    <span>{{ item.title }}</span>
                    <span class="float-right"
                          v-on:click="deleteSelection(index)"><i
                        class="mdi mdi-close-circle"></i></span>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            suggestions: {
                type: Array,
                default: function () {
                    return []
                }
            },
            selection: {
                type: Array,
                default: function () {
                    return []
                }
            },
            keyword: {
                type: String,
                default: ''
            },
            opened: {
                default: false
            },
            obj: {
                type: String,
                default: ''
            },
        },
        data() {
            return {
                selections: this.selection || [],
            }
        },
        computed: {
            matches() {
                return this.suggestions.filter((item) => {
                    return item.title.indexOf(this.keyword) >= 0;
                });
            },
            openSuggestion() {
                return this.suggestions.length != 0 && this.opened == true;
            },
        },
        watch: {

        },
        methods: {
            suggestionClick(index) {
                let check = false;
                for (let i = 0; i < this.selections.length; i++) {
                    if (this.selections[i].id == this.matches[index].id) {
                        check = true;
                        break;
                    }
                }
                if (!check) {
                    this.selections.push({
                        'id': this.matches[index].id,
                        'title': this.matches[index].title,
                    });
                }
                this.$emit('change', this.selections, false);
            },
            deleteSelection(index) {
                this.selections.splice(index, 1);
                this.$emit('change', this.selections, false)
            },
        },
        create() {
        }
    }
</script>
