﻿<template>
    <div class="photo-select-wrapper">
        <img :src="displayAvatar" class="photo-select"/>
        <div>
            <label class="custom-file-upload btn btn-primary">
                <input type="file" @change="onFileChange"/>
                {{$i("Upload")}}
            </label>
        </div>
    </div>
</template>
<style>
    .photo-select-wrapper {
        width: 80px;
        min-height: 110px;
        text-align: center;
    }
    .photo-select-wrapper .photo-select{
        width: 80px;
        height: 80px;
        object-fit: cover;
        padding: 10px;
    }
    .photo-select-wrapper input[type="file"] {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .photo-select-wrapper .custom-file-upload {
        display: inline-block;
        padding: 5px 8px;
        cursor: pointer;
        position: relative;
        text-align: center;
    }
</style>
<script>
    import {getOrientation, resetOrientation} from '../../core/utils/index';
    import axios from '../../core/plugins/http';

    export default {
        name: 'photo-select',
        props: {
            index: {
                type: Number,
                default: 0,
            },
            src: {
                type: String,
                default: '',
            },
            width: {
                type: Number,
                default: 50
            },
            height: {
                type: Number,
                default: 50
            },
        },
        data() {
            return {
                srcUpload: this.src,
            }
        },
        computed: {
            displayAvatar() {
                let _src = '';
                if (this.srcUpload) {
                    _src = this.srcUpload;
                } else {
                    return this.appSettings.storageDomain + '/assets/no-img.png';
                }
                if (_src.lastIndexOf('http') == -1 && _src.lastIndexOf('data:image/') == -1) {
                    _src = this.appSettings.storageDomain + '/' + _src;
                }
                if ((_src.lastIndexOf(this.appSettings.storageDomain) != -1 || _src.lastIndexOf('sakura.vn') != -1) && _src.lastIndexOf('?') == -1) {
                    if (this.height == 0 && this.width > 0)
                        _src += '?w=' + this.width + '&mode=crop';
                    else if (this.width == 0 && this.height > 0)
                        _src += '?h=' + this.height + '&mode=crop';
                    else if (this.width > 0 && this.height > 0)
                        _src += '?w=' + this.width + '&h=' + this.height + '&mode=crop';
                }
                return _src;
            }
        },
        methods: {
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                let file = files[0];
                if (file) {
                    let loading = this.$loading.show();
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        try {
                            getOrientation(file, (orientation) => {
                                if (orientation != -1 && orientation != -2 && orientation != 1) {
                                    resetOrientation(e.target.result, orientation, (newBase64) => {
                                        this.srcUpload = newBase64;
                                        loading.hide();
                                    });
                                } else {
                                    return axios({
                                        data: {
                                            url: '/api/images/upload',
                                            data: e.target.result
                                        }
                                    }).then((response) => {
                                        this.srcUpload = response.data;
                                        loading.hide();
                                    }).catch(error => {
                                        loading.hide();
                                    })
                                }
                            });
                        } catch (e) {
                            loading.hide();
                            this.srcUpload = e.target.result;
                        }
                    };
                    reader.readAsDataURL(file);
                }
            }
        },
        watch: {
            'srcUpload' () {
                this.$emit('change', this.index, this.srcUpload);
            }
        }
    }
</script>
