<template>
    <img :src="displayAvatar" :class="width == 0 ? 'photo-image-100': 'photo-image'" :style="styles"/>
</template>
<style scoped>
    .photo-image { max-width: 100%; object-fit: cover; }
    .photo-image-100 { width: 100%; object-fit: cover;}
</style>
<script>
    export default {
        name: 'photo',
        props: {
            styles: {
                type: String,
                default: 'width:50px; height:50px'
            },
            width: {
                type: Number,
                default: 300
            },
            height: {
                type: Number,
                default: 0
            },
            src: {
                type: String
            }
        },
        computed: {
            displayAvatar() {
                let _src = '';
                if (this.src)
                    _src = this.src;
                else return this.appSettings.storageDomain+'/assets/no-img.png';
                if (_src.lastIndexOf('http') == -1 && _src.lastIndexOf('data:image/') == -1)
                    _src = this.appSettings.storageDomain + '/' + this.src;
                if ((_src.lastIndexOf(this.appSettings.storageDomain) != -1 || _src.lastIndexOf('sakura.vn') != -1) && _src.lastIndexOf('?') == -1) {
                    if (this.height == 0 && this.width > 0)
                        _src += '?w=' + this.width + '&mode=crop';
                    else if (this.width == 0 && this.height > 0)
                        _src += '?h=' + this.height + '&mode=crop';
                    else if (this.width > 0 && this.height > 0)
                        _src += '?w=' + this.width + '&h=' + this.height + '&mode=crop';
                }
                return _src;
            }
        }
    }
</script>
