<template>
    <div class="upload-drag-drop-image">
        <el-upload class="upload-drag-drop" drag
                   :headers="headerInfo"
                   action="/api/images/upload"
                   :on-change="getFiles" :multiple="false" :show-file-list="false">
            <img :src="displayAvatar" class="photo-preview" :width="width" :height="height">
            <!--<i class="mdi mdi-upload"></i>-->
            <!--<div class="el-upload__text">Drop file here or <em>click to upload</em></div>-->
        </el-upload>
        <div v-if="showDelete">
            <i v-if="hasImage" class="mdi mdi-close-circle" @click="deleteImage"></i>
        </div>
    </div>
</template>
<script>
    import CONSTANTS from '../../core/utils/constants';
    import config from '../../../config';

    export default {
        props: {
            src: {
                type: String,
                default: '',
            },
            width: {
                type: String,
                default: '100%',
            },
            height: {
                type: String,
                default: '500px',
            },
            index: {
                type: Number,
                default: null
            },
            showDelete: {
                default: false
            },
        },
        data() {
            return {
                srcUpload: this.src || '',
                hasImage: false,
                headerInfo: {
                    'Authorization': 'Bearer ' + localStorage.getItem(CONSTANTS.ACCESS_TOKEN),
                    'secret_key': config.secret_key,
                },
            };
        },
        computed: {
            displayAvatar() {
                this.srcUpload = this.src;
                let _src = '';
                if (this.src === null || this.src === '' || this.src === 'assets/file-upload.jpg') {
                    this.hasImage = false;
                } else {
                    this.hasImage = true;
                }
                if (this.srcUpload) {
                    _src = this.srcUpload;
                } else {
                    return this.appSettings.storageDomain + '/assets/no-img.png';
                }
                if (_src.lastIndexOf('http') == -1 && _src.lastIndexOf('data:image/') == -1) {
                    _src = this.appSettings.storageDomain + '/' + _src;
                }
                if ((_src.lastIndexOf(this.appSettings.storageDomain) != -1 || _src.lastIndexOf('sakura.vn') != -1) && _src.lastIndexOf('?') == -1) {
                    if (this.height == 0 && this.width > 0)
                        _src += '?w=' + this.width + '&mode=crop';
                    else if (this.width == 0 && this.height > 0)
                        _src += '?h=' + this.height + '&mode=crop';
                    else if (this.width > 0 && this.height > 0)
                        _src += '?w=' + this.width + '&h=' + this.height + '&mode=crop';
                }
                return _src;
            },
        },
        watch: {},
        methods: {
            getFiles(file) {
                if (file.response) {
                    this.srcUpload = file.response.location;
                    this.$emit('change', file.response.location, this.index);
                }
            },
            deleteImage() {
                this.$confirm(this.$i('DoYouWantToDeleteImage')).then(() => {
                    this.$http({
                        data: {
                            url: 'api/images/delete',
                            image: this.srcUpload
                        }
                    }).then((response) => {
                        if (response.success) {
                            this.hasImage = false;
                            this.srcUpload = '';
                            this.$emit('change', this.srcUpload, this.index);
                            return this.$message(this.$i('DeleteImageSuccess'));
                        }else{
                            return this.$message(this.$i('DeleteImageFailed'), 'error');
                        }
                    }).catch(err => {
                        return this.$message(this.$i('DeleteImageFailed'), 'error');
                    });
                });
            }
        },
    }
</script>
<style>
    .upload-drag-drop-image{
        position: relative;
    }
    .upload-drag-drop-image i {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 15px;
        background: rgb(207, 207, 207);
        padding: 10px;
        z-index: 99999;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: pointer;
    }
</style>
