<template>
    <div>
        <editor v-model="content" :init="{plugins, images_upload_url,
        automatic_uploads, height, image_prepend_url, images_upload_handler}"></editor>
    </div>
</template>
<script>
    import CONSTANTS from '../../core/utils/constants';
    import config from '../../../config';
    import Editor from '@tinymce/tinymce-vue';
    import tinymce from 'tinymce/tinymce';
    import 'tinymce/themes/silver/theme';
    import 'tinymce/plugins/advlist';
    import 'tinymce/plugins/autolink';
    import 'tinymce/plugins/lists';
    import 'tinymce/plugins/link';
    import 'tinymce/plugins/image';
    import 'tinymce/plugins/imagetools';
    import 'tinymce/plugins/media';
    import 'tinymce/plugins/charmap';
    import 'tinymce/plugins/preview';
    import 'tinymce/plugins/hr';
    import 'tinymce/plugins/searchreplace';
    import 'tinymce/plugins/wordcount';
    import 'tinymce/plugins/code';
    import 'tinymce/plugins/fullscreen';
    import 'tinymce/plugins/table';
    import 'tinymce/plugins/contextmenu';
    import 'tinymce/plugins/paste';
    import 'tinymce/plugins/textcolor';
    import 'tinymce/plugins/colorpicker';

    export default {
        props: {
            value: {
                type: String,
                default: ''
            },
            height: {
                type: Number,
                default: 300
            },
            field: {
                type: String,
                default: ''
            },
            obj: {
                type: String,
                default: ''
            },
            index: {
                type: Number,
                default: null
            },
            index1: {
                type: Number,
                default: null
            },
        },

        data() {
            return {
                plugins: [
                    'wordcount', 'link',
                    'image', 'table', 'lists',
                    'preview', 'code'
                ],
                images_upload_url: '/api/images/upload',
                automatic_uploads: true,
                image_prepend_url: window.appSettings.storageDomain + '/'
            }
        },
        computed: {
            content: {
                get() {
                    return this.value;
                },
                set(content) {
                    this.$emit('change', content, this.field, this.obj, this.index, this.index1);
                }
            }
        },
        methods: {
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', window.appSettings.apiUrl + '/api/images/upload');
                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem(CONSTANTS.ACCESS_TOKEN));
                xhr.setRequestHeader('secret_key', config.secret_key);
                xhr.onload = function (response) {
                    var json;
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);
                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    success(json.location);
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            },
        },
        components: {
            editor: Editor
        },
    }
</script>
