<template>
    <wrapper :title="$i('GoodPointList')" sapo="">
        <div class="dn-content-left">
            <div class="row" id="form-search">
                <div class="col-sm-2">
                    <input type="text" v-model="objDataSearch.content" :placeholder="$i('Keyword')" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.languageCode">
                        <option value="">{{$i('SelectLanguage')}}</option>
                        <option v-for="item in activeLanguages" :value="item.code">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.category_id">
                        <option :value="0">{{$i('Select')}}</option>
                        <option :value="item.id" v-for="item in listCategory">{{item.title}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" v-model="objDataSearch.status">
                        <option :value="-1">{{$i('SelectStatus')}}</option>
                        <option :value="1">{{$i('Active')}}</option>
                        <option :value="0">{{$i('DeActived')}}</option>
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-info" type="button" v-on:click="searchData" :value="$i('Search')"/>
                    <input class="btn btn-primary" type="button" @click="openPopup(0)" :value="$i('Add')"/>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="width-100">{{$i('Index')}}</th>
                        <th>{{$i('GoodPoint')}}</th>
                        <th>{{$i('Category')}}</th>
                        <th class="text-center width-150">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(goodPoint, index) in listGoodPoint" class="post-item-group">
                        <td>{{ index+1 + rowNum }}</td>
                        <td><a href="javascript:;" @click="openPopup(goodPoint.id)" style="color: #0f74a8;">
                            {{ goodPoint.content }}</a></td>
                        <td>{{ goodPoint.title }}</td>
                        <td class="btn-action">
                            <button title="Remove" class="btn btn-danger" v-if="goodPoint.status == 1"
                                    v-on:click="changeStatusGoodPoint(goodPoint, index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button title="Publish" class="btn btn-primary"
                                    v-on:click="changeStatusGoodPoint(goodPoint, index)"
                                    v-else>
                                <i class="fa fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager :total="goodPointCount" :pageIndex="objDataSearch.pageIndex" :pageSize="objDataSearch.pageSize"
               @change="pageChange"/>
        <modal v-if="popupEditGoodPoint" :title="$i(this.titleModal)" @close="popupEditGoodPoint = false">
            <div slot="body">
                <editGoodPoint :goodPointId="this.objDataUpdate.id" v-on:closePopup="closePopup()"></editGoodPoint>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editGoodPoint from './edit';

    export default {
        components: {
            'editGoodPoint': editGoodPoint,
        },
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    content: '',
                    category_id: 0,
                    languageCode: '',
                    status: 1,
                    position: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: {
                    id: -1,
                    content: '',
                    status: -1,
                    position: 1,
                },
                objDataCategory: {status: 1,},
                titleModal: '',
                popupEditGoodPoint: false,
            }
        },
        computed: {
            ...mapGetters(['listGoodPoint', 'goodPointCount', 'activeLanguages', 'listCategory']),
            rowNum() {
                return (this.objDataSearch.pageIndex - 1) * this.objDataSearch.pageSize;
            }
        },
        methods: {
            ...mapActions(['getListGoodPoint', 'saveGoodPoint', 'deleteGoodPoint', 'getActiveLanguages', 'getListCategory']),
            searchData() {
                let loading = this.$loading.show();
                this.getListGoodPoint(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'pageIndex', pageNum);
                this.searchData();
            },
            changeStatusGoodPoint(objUpdate, index) {
                let confirm = (objUpdate.status == 1) ? 'DoYouWantToHide' : 'DoYouWantToPublish';
                let status = (objUpdate.status == 1) ? 0 : 1;
                this.$confirm(this.$i(confirm)).then(() => {
                    this.objDataUpdate = objUpdate;
                    this.objDataUpdate.status = status;
                    this.deleteGoodPoint(this.objDataUpdate).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.searchData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            closePopup() {
                this.popupEditGoodPoint = false;
                this.searchData();
            },
            openPopup(id) {
                if (id > 0) {
                    this.titleModal = 'TitleEditGoodPoint';
                } else {
                    this.titleModal = 'TitleAddGoodPoint';
                }
                this.popupEditGoodPoint = true;
                this.objDataUpdate.id = id || 0;
            },
            getActiveLanguagesCms() {
                this.getActiveLanguages().then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getListCategoryCms() {
                this.getListCategory(this.objDataCategory).then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            }
        },
        created() {
            this.searchData();
            this.getActiveLanguagesCms();
            this.getListCategoryCms();
        }
    };
</script>
