﻿<template>
    <wrapper :title="(this.$route.params.id > 0) ? $i('EditReviews') : $i('AddReviews')"
             sapo="">
        <div class="dn-content-left reviews">
            <form action="#" @submit.prevent="saveReviewsCms" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Reviews') }}</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <photo-drag-drop :src="objData.image" v-on:change="changeImage"
                                                         :height="`350px`" :showDelete="true"></photo-drag-drop>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Status')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.status">
                                                    <option value="1">{{ $i('Active') }}</option>
                                                    <option value="0">{{ $i('DeActived') }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3" style="display: none;">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Rating')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <select class="form-control" v-model="objData.rating">
                                                    <option value="5">5</option>
                                                    <option value="4">4</option>
                                                    <option value="3">3</option>
                                                    <option value="2">2</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('Viewed')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <input type="text" v-model="objData.viewed" :placehoder="$i('Viewed')"
                                                       class="form-control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <h3 class="mt-0 header-title">{{ $i('Content') }}</h3>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"
                                                v-for="(item, index) in activeLanguages"
                                                :key="index"
                                                @click="setActive(index)">
                                                <a class="nav-link"
                                                   :class="{ 'active': activeIndex === index}">
                                                    <span class="d-none d-sm-block">{{ item.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" v-if="loader">
                                            <div class="tab-pane p-3"
                                                 v-for="(item, index) in objData.descriptions"
                                                 :class="{ 'active': activeIndex === index}" :key="index">
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Title')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="text" v-model="item.title"
                                                               :placehoder="$i('Title')" ref="title"
                                                               class="form-control"></input>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Description')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`description`"
                                                                  :index="index"
                                                                  :value="item.description" :height="350"></tiny-mce>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <label class="tit">{{$i('Content')}}</label>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <tiny-mce v-on:change="bindData" :field="`content`"
                                                                  :index="index" :value="item.content"
                                                                  :height="500"></tiny-mce>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Seo') }}</h3>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"
                                        v-for="(item, index) in activeLanguages"
                                        :key="index"
                                        @click="setActiveSeo(index)">
                                        <a class="nav-link"
                                           :class="{ 'active': activeIndexSeo === index}">
                                            <span class="d-none d-sm-block">{{ item.name }}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" v-if="loader">
                                    <div class="tab-pane p-3"
                                         v-for="(item, index) in objData.descriptions"
                                         :class="{ 'active': activeIndexSeo === index}" :key="index">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('MetaTitle')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <input type="text"
                                                       v-model="item.meta_title"
                                                       :placehoder="$i('MetaTitle')"
                                                       class="form-control"></input>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12">
                                                <label class="tit">{{$i('MetaDescription')}}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <tiny-mce v-on:change="bindData"
                                                          :field="`meta_description`" :index="index"
                                                          :value="item.meta_description"></tiny-mce>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button class="btn btn-primary" style="width: 80px;margin-right: 30px;">
                            <span>{{ $i('Save') }}</span>
                        </button>
                        <router-link :to="{ path: '/reviews' }" class="btn btn-danger">
                            <span>{{ $i('Cancel') }}</span>
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';

    export default {
        data() {
            return {
                objData: {
                    id: this.$route.params.id || -1,
                    banner_group_id: 0,
                    image: '' || 'assets/file-upload.jpg',
                    status: 1,
                    viewed: 0,
                    rating: 5,
                    descriptions: [],
                },
                objBanner: {status: 1,},
                loader: false,
                activeIndex: 0,
                activeIndexSeo: 0,
            }
        },
        computed: {
            ...mapGetters(['listReviews', 'activeLanguages']),
        },
        components: {
            'photo-drag-drop': PhotoDragDrop
        },
        watch: {},
        methods: {
            ...mapActions(['getDetailReviews', 'saveReviews', 'getActiveLanguages']),
            getDetailReviewsCms() {
                if (this.$route.params.id > 0) {
                    this.objData.id = this.$route.params.id;
                    this.getDetailReviews(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                            this.objData.descriptions = this.getLanguageIsNotDefault().map(i => {
                                return response.data.descriptions.filter(j => {
                                    if (j.languageCode == i.languageCode)
                                        return j;
                                })[0] || i;
                            });
                            this.loader = true;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                } else {
                    this.objData.descriptions = this.getLanguageIsNotDefault();
                    this.loader = true;
                }
            },
            getLanguageIsNotDefault() {
                return this.activeLanguages.filter(i => !i.isDefault).map(i => {
                    return {
                        languageCode: i.code,
                        title: '',
                        description: '',
                        content: '',
                        meta_title: '',
                        meta_description: ''
                    }
                })
            },
            saveReviewsCms() {
                let error = false;
                this.objData.descriptions.forEach(function (e) {
                    if (!e.title) {
                        error = true;
                        return error;
                    }
                });
                if (error) {
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveReviews(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        setTimeout(() => {
                            this.$router.push('/reviews');
                        }, 1000)
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            bindData(contents, field, obj, index) {
                this.objData.descriptions[index][field] = contents;
            },
            getActiveLanguagesCms() {
                let loading = this.$loading.show();
                this.getActiveLanguages().then(() => {
                    this.getDetailReviewsCms();
                    loading.hide();
                }).catch((error) => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                });
            },
            changeImage(src) {
                this.objData.image = src;
            },
            setActive(index) {
                this.activeIndex = index;
            },
            setActiveSeo(index) {
                this.activeIndexSeo = index;
            },
        },
        created() {
            this.getActiveLanguagesCms();
        }
    }
</script>
